<div>
  <p>
    HTML-элемент <code class="tag">&lt;select&gt;</code> представляет собой элемент управления,
    предоставляющий меню опций для создания выпадающего списка.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
  <p>
    В приведенном выше примере показано типичное использование <code class="tag">&lt;select&gt;</code>.
    Ему присваивается атрибут <code class="attr-name">id</code>, позволяющий связать его с <code class="tag">&lt;label&gt;</code>
    в целях доступности, а также атрибут <code class="attr-name">name</code> для представления имени
    связанной точки данных, отправленной на сервер. Каждый пункт меню определяется элементом
    <code class="tag">&lt;option&gt;</code>, вложенным в <code class="tag">&lt;select&gt;</code>.
  </p>
  <p>
    Каждый элемент <code class="tag">&lt;option&gt;</code> должен иметь атрибут <code class="attr-name">value</code>,
    содержащий значение данных для отправки на сервер при выборе этого параметра. Если атрибут
    <code class="attr-name">value</code> не включен, значением по умолчанию является текст,
    содержащийся внутри элемента. Вы можете включить атрибут <code class="attr-name">selected</code> в
    элемент <code class="tag">&lt;option&gt;</code>, чтобы сделать его выбранным по умолчанию при
    первой загрузке страницы.
  </p>
  <p>
    Элемент <code class="tag">&lt;select&gt;</code> имеет несколько уникальных атрибутов, которые вы
    можете использовать для управления им, например, <code class="attr-name">multiple</code>, чтобы
    указать, можно ли выбрать несколько параметров, и <code class="attr-name">size</code>, чтобы
    указать, сколько параметров должно отображаться одновременно. Он также принимает большинство общих
    атрибутов ввода формы, таких как <code class="attr-name">required</code>,
    <code class="attr-name">disabled</code>, <code class="attr-name">autofocus</code> и т. д.
  </p>
  <p>
    Вы можете дополнительно вложить элементы <code class="tag">&lt;option&gt;</code> в элементы
    <code class="tag">&lt;optgroup&gt;</code>, чтобы создать отдельные группы параметров внутри
    раскрывающегося списка.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">autocomplete</code>
    </dt>
    <dd>
      Строка, предоставляющая подсказку для функции автозаполнения пользовательского агента.
    </dd>
    <dt>
      <code class="attr-name">autofocus</code>
    </dt>
    <dd>
      Этот логический атрибут позволяет указать, что элемент управления формы должен иметь фокус
      ввода при загрузке страницы. Только один элемент формы в документе может иметь атрибут автофокуса.
    </dd>
    <dt>
      <code class="attr-name">disabled</code>
    </dt>
    <dd>
      Этот логический атрибут указывает, что пользователь не может взаимодействовать с элементом
      управления.
    </dd>
    <dt>
      <code class="attr-name">form</code>
    </dt>
    <dd>
      Этот атрибут позволяет связать элементы <code class="tag">&lt;select&gt;</code> с
      <code class="tag">&lt;form&gt;</code> в любом месте документа, а не только внутри формы.
      Он также может переопределить элемент-предок <code class="tag">&lt;form&gt;</code>.
    </dd>
    <dt>
      <code class="attr-name">multiple</code>
    </dt>
    <dd>
      Этот логический атрибут указывает, что в списке можно выбрать несколько параметров, большинство
      браузеров будут отображать окно списка с прокруткой вместо выпадающего списка с одной строкой.
      Если он не указан, то одновременно может быть выбран только один вариант.
    </dd>
    <dt>
      <code class="attr-name">name</code>
    </dt>
    <dd>
      Этот атрибут используется для указания имени элемента управления.
    </dd>
    <dt>
      <code class="attr-name">required</code>
    </dt>
    <dd>
      Логический атрибут, указывающий, что элемент управления должен быть заполнен.
    </dd>
    <dt>
      <code class="attr-name">size</code>
    </dt>
    <dd>
      Если элемент управления представлен в виде прокручиваемого списка (например, когда указано
      <code class="attr-name">multiple</code>), этот атрибут представляет количество строк в списке,
      которые должны быть видны одновременно. Браузеры не обязаны представлять элемент выбора в виде
      прокручиваемого списка. Значение по умолчанию — <kbd>0</kbd>.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Примечания по использованию
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    На настольном компьютере существует несколько способов выбора нескольких параметров в элементе
    <code class="tag">&lt;select&gt;</code> с множественным атрибутом.
  </p>
  <p>
    Пользователи мыши могут удерживать клавиши <kbd>Ctrl</kbd>, <kbd>Command</kbd> или <kbd>Shift</kbd>
    (в зависимости от того, что имеет смысл для вашей операционной системы), а затем щелкать несколько
    параметров, чтобы выбрать или отменить их выбор.
  </p>
  <p>
    Пользователи клавиатуры могут выбирать несколько смежных элементов:
  </p>
  <ul>
    <li>
      Сменить фокус на элементе <code class="tag">&lt;select&gt;</code> (например, с помощью  <kbd>Tab</kbd>).
    </li>
    <li>
      Выбор элемента в верхней или нижней части диапазона, который они хотят выбрать, с помощью клавиш
      <kbd>PgUp</kbd> и <kbd>PgDn</kbd> для перехода вверх и вниз по параметрам.
    </li>
    <li>
      Удерживая нажатой клавишу <kbd>Shift</kbd>, а затем используя клавиши <kbd>Up</kbd> и <kbd>Down</kbd>,
      увеличивайте или уменьшайте диапазон выбранных элементов.
    </li>
  </ul>
  <p>
    Пользователи клавиатуры могут выбирать несколько несмежных элементов:
  </p>
  <ul>
    <li>
      Сменить фокус на элементе <code class="tag">&lt;select&gt;</code> (например, с помощью  <kbd>Tab</kbd>).
    </li>
    <li>
      Удерживая нажатой клавишу <kbd>Ctrl</kbd>, затем с помощью клавиш <kbd>Up</kbd> и <kbd>Down</kbd>.
      После сфокусирования на нужный элемент нажать <kbd>Shift</kbd>.
    </li>
    <li>
      Нажатие <kbd>Space</kbd> для выбора/отмены выбора.
    </li>
  </ul>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Расширенный выбор с некоторыми особенностями</h3>
  <p>
    Следующий пример более сложный и демонстрирует больше функций, которые вы можете использовать в
    элементе <code class="tag">&lt;select&gt;</code>. Множественный выбор можно совершить при помощи
    клавиши <kbd>Ctrl</kbd> или <kbd>Shift</kbd>.
  </p>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
</div>

