<div>
  <p>
    Свойства <code class="css-prop">padding</code> и <code class="css-prop">margin</code>, которые создают поля внутри и отступы снаружи
    CSS блока. Размеры блока также могут быть увеличены за счет рамки (border).
  </p>
  <p>
    Каждый блок имеет прямоугольную область содержимого в центре, поля вокруг содержимого, рамку вокруг полей и отступ за пределами рамки.
    Размеры этих областей определяют свойства <code class="css-prop">padding</code> и его подсвойства — <code class="css-prop">padding-left</code>,
    <code class="css-prop">padding-top</code> и т.д., <code class="css-prop">border</code> и его подсвойства, <code class="css-prop">margin</code>
    и его подсвойства.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Отступы элемента
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Отступы окружают край рамки элемента, обеспечивая расстояние между соседними блоками. Свойства отступов определяют их толщину.
    Применяются ко всем элементам, кроме внутренних элементов таблицы. Сокращенное свойство <code class="css-prop">margin</code> задает
    отступы для всех четырех сторон, а его подсвойства задают отступ только для соответствующей стороны.
  </p>
  <p>
    Свойство <code class="css-prop">margin</code> является сокращенным свойством для установки <code class="css-prop">margin-top</code>,
    <code class="css-prop">margin-right</code>, <code class="css-prop">margin-bottom</code> и <code class="css-prop">margin-left</code>
    в одном объявлении.
  </p>
  <p>
    Если существует только одно значение, оно применяется ко всем сторонам.
  </p>
  <p>
    Если два — верхний и нижний отступы устанавливаются на первое значение, а правый и левый — устанавливаются на второе.
  </p>
  <p>
    Если имеется три значения — верхний отступ устанавливается на первое значение, левый и правый — на второе, а нижний — на третье.
  </p>
  <p>
    Если есть четыре значения — они применяются сверху, справа, снизу и слева соответственно.
  </p>
  <app-code-example [CSSInputValue]="CSScodeExample1"></app-code-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Поля элемента
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Область полей представляет собой пространство между краем области содержимого и рамкой элемента. Свойства полей определяют толщину их
    области. Применяются ко всем элементам, кроме внутренних элементов таблицы (за исключением ячеек таблицы). Сокращенное свойство
    <code class="css-prop">padding</code> задает поля для всех четырех сторон, а подсвойства устанавливают только их соответствующие
    стороны
  </p>
  <p>
    Свойство <code class="css-prop">padding</code> является сокращенным свойством для установки <code class="css-prop">padding-top</code>,
    <code class="css-prop">padding-right</code>, <code class="css-prop">padding-bottom</code> и <code class="css-prop">padding-left</code>
    в одном объявлении.
  </p>
  <p>
    Если существует только одно значение, оно применяется ко всем сторонам.
  </p>
  <p>
    Если два — верхний и нижний отступы устанавливаются на первое значение, а правый и левый — устанавливаются на второе.
  </p>
  <p>
    Если имеется три значения — верхний отступ устанавливается на первое значение, левый и правый — на второе, а нижний — на третье.
  </p>
  <p>
    Если есть четыре значения — они применяются сверху, справа, снизу и слева соответственно.
  </p>
  <app-code-example [CSSInputValue]="CSScodeExample2"></app-code-example>
</div>
