
<div>
  <p>
    HTML-элемент <code class="tag">&lt;meter&gt;</code> представляет либо скалярное значение в пределах
    известного диапазона, либо дробное значение.
  </p>
  <p>
    HTML-элемент <code class="tag">&lt;progress&gt;</code> отображает индикатор, показывающий ход
    выполнения задачи, обычно отображаемый в виде индикатора выполнения.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты элемента progress
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">max</code>
    </dt>
    <dd>
      Этот атрибут описывает, сколько работы требует задача, указанная элементом прогресса. Атрибут
      <code class="attr-name">max</code>, если он присутствует, должен иметь значение больше <kbd>0</kbd>
      и быть допустимым числом с плавающей запятой. Значение по умолчанию — <kbd>1</kbd>.
    </dd>
    <dt>
      <code class="attr-name">value</code>
    </dt>
    <dd>
      Этот атрибут указывает, какая часть задачи была выполнена. Это должно быть действительное число
      с плавающей запятой от <kbd>0</kbd> до <code class="attr-name">max</code> или от <kbd>0</kbd> до <kbd>1</kbd>,
      если <code class="attr-name">max</code> не указано. Если атрибут <code class="attr-name">value</code>
      отсутствует, индикатор выполнения не определен; это указывает на то, что действие продолжается
      без указания того, сколько времени оно займет.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Атрибуты элемента meter
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">value</code>
    </dt>
    <dd>
      Текущее числовое значение. Это должно быть между минимальным и максимальным значениями
      (атрибут <code class="attr-name">min</code> и атрибут <code class="attr-name">max</code>), если
      они указаны. Если не указано или неправильно сформировано, значение равно <kbd>0</kbd>. Если
      указано, но не в пределах диапазона, заданного атрибутами <code class="attr-name">min</code> и
      <code class="attr-name">max</code>, значение равно ближайшему концу диапазона.
    </dd>
    <dt>
      <code class="attr-name">min</code>
    </dt>
    <dd>
      Нижняя числовая граница измеряемого диапазона. Оно должно быть меньше максимального значения
      (атрибут <code class="attr-name">max</code>), если оно указано. Если не указано, минимальное
      значение равно <kbd>0</kbd>.
    </dd>
    <dt>
      <code class="attr-name">max</code>
    </dt>
    <dd>
      Верхняя числовая граница измеряемого диапазона. Это значение должно быть больше минимального
      значения (атрибут <code class="attr-name">min</code>), если оно указано. Если не указано,
      максимальное значение равно 1.
    </dd>
    <dt>
      <code class="attr-name">low</code>
    </dt>
    <dd>
      Верхняя числовая граница нижней границы измеренного диапазона. Оно должно быть больше минимального
      значения (атрибут <code class="attr-name">min</code>), а также должно быть меньше максимального
      значения и максимального значения (атрибут <code class="attr-name">high</code> и
      <code class="attr-name">max</code> соответственно), если они указаны. Если не указано или меньше
      минимального значения, нижнее значение равно минимальному значению.
    </dd>
    <dt>
      <code class="attr-name">high</code>
    </dt>
    <dd>
      Нижняя числовая граница верхнего предела измеренного диапазона. Оно должно быть меньше
      максимального значения (атрибут <code class="attr-name">max</code>), а также должно быть больше
      минимального значения и минимального значения (атрибута <code class="attr-name">low</code> и
      атрибута <code class="attr-name">min</code> соответственно), если они указаны. Если не указано
      или больше максимального значения, высокое значение равно максимальному значению.
    </dd>
    <dt>
      <code class="attr-name">optimum</code>
    </dt>
    <dd>
      Этот атрибут указывает оптимальное числовое значение. Оно должно быть в пределах диапазона (как
      определено атрибутами <code class="attr-name">min</code> и <code class="attr-name">max</code>).
      При использовании с <code class="attr-name">low</code> и <code class="attr-name">high</code> он
      указывает, где в диапазоне считается предпочтительным. Например, если он находится между
      атрибутом <code class="attr-name">min</code> и атрибутом <code class="attr-name">low</code>, то
      более низкий диапазон считается предпочтительным. Браузер может окрашивать полосу индикатора
      по-разному в зависимости от того, меньше ли значение оптимального значения или равно ему.
    </dd>
  </dl>
</div>
