<div>
  <p>
    Выделяют две основные категории HTML-элементов, которые соответствуют типам их содержимого и поведению в структуре
    веб-страницы — блочные и строчные элементы. С помощью блочных элементов можно создавать структуру веб-страницы
  </p>
  <p>
    Разделение элементов на блочные и строчные используется в спецификации HTML до версии 4.01. В HTML5 эти понятия заменены более
    сложным набором категорий контента, согласно которым каждый HTML-элемент должен следовать правилам, определяющим, какой контент для
    него допустим.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
  <p>
    Строчные (inline) и блочные (block) элементы являются двумя основными типами элементов в HTML и CSS, и у них есть следующие отличия:
  </p>
  <ul>
    <li>
      Расположение в потоке: Блочные элементы занимают всю доступную горизонтальную ширину и начинают новую строку, после чего идут
      следующие элементы. Строчные элементы занимают только необходимое пространство в строке и не прерывают поток, позволяя другим
      элементам быть на той же строке.
    </li>
    <li>
      Размеры и выравнивание: Блочные элементы имеют ширину по умолчанию равную 100% ширины родительского элемента и могут иметь высоту,
      которая определяется их содержимым или установкой конкретной высоты. Строчные элементы, с другой стороны, имеют ширину, зависящую
      от их содержимого, и игнорируют установленные высоты и ширины.
    </li>
    <li>
      Междустрочное пространство: Блочные элементы создают отдельные блоки с настраиваемым междустрочным пространством сверху и снизу.
      Строчные элементы, наоборот, не создают таких блоков и наследуют межстрочное пространство от родительского элемента.
    </li>
    <li>
      Позиционирование и отображение: Блочные элементы могут быть позиционированы с помощью свойств позиционирования CSS, таких как
      <code class="css-prop">position</code> и <code class="css-prop">float</code>, и могут быть отображены как блоки, строки или в виде
      таблицы. Строчные элементы не могут быть полностью позиционированы и отображены в виде блока, но могут быть выровнены горизонтально
      и вертикально.
    </li>
  </ul>
  <p>
    Примечание: В CSS существуют также элементы с типом "инлайн-блок" (inline-block), которые сочетают свойства и блочных, и строчных
    элементов. Эти элементы поведение в потоке, как у строчных элементов, но имеют свойства блочных элементов, такие как настраиваемая
    ширина и высота.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Размеры блока
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    По умолчанию размер блока задается так, чтобы он был способен вместить контент. Чтобы установить собственные размеры блока, вы можете
    использовать свойства <code class="css-prop">height</code> и <code class="css-prop">width</code>. Чаще всего размер блока указывается
    в пикселах, процентах или единицах em. Пикселы наиболее популярны, поскольку позволяют точно контролировать размер.
  </p>
  <p>
    При использовании процен тов размер блока задается относительно размера окна браузера, а если блок заключен в другой блок, то
    относительно его размера.
  </p>
  <p>
    При использовании единиц em размер блока зависит от размера содержащегося в нем текста. В последнее время разработчики начали
    чаще использовать проценты и единицы em при создании гибких дизайнов, предусматривающих доступ с устройств с разными размерами
    экранов.
  </p>
  <p>
    В следующем примере вы видите элемент <code class="tag">div</code>, ширина и высота которого равна 300 пикселам. Внутри него находится
    абзац текста, занимающий 75% ширины и высоты элемента <code class="tag">div</code>. Это означает, что размер абзаца составляет 225
    пикселов в ширину и 225 пикселов в высоту.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample1" [CSSInputValue]="CSSstaticExample1"></app-static-example>
</div>

<div data-custom="head3" style="margin-bottom: 250px;">
  <h2 class="head" id="head3">
    Ограничение ширины и высоты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Некоторые страницы создаются таким образом, чтобы контент менял свой размер в соответствии с размером экрана. В этом случае свой
    ство <code class="css-prop">min-width</code> определяет наименьшую ширину блока при уменьшении окна браузера, а свойство
    <code class="css-prop">max-width</code> - наибольшую ширину блока при увеличении.
  </p>
  <p>
    Это очень полезные свойства, позволяющие гарантировать удобочитаемость страниц, особенно на маленьких экранах портативных устройств.
    Например, вы можете использовать свойство <code class="css-prop">max-width</code>, чтобы быть уверенным в том, что строки текста не окажутся слишком широкими в
    большом окне браузера.
  </p>
  <p>
    Свойство <code class="css-prop">min-width</code> позволит гарантировать, что строки текста не окажутся чересчур узкими.
  </p>
  <p>
    Так же как и в случае с шириной блока, вы можете ограничить его высоту. Это достигается с помощью свойств
    <code class="css-prop">min-height</code> и <code class="css-prop">max-height</code>.
  </p>
  <app-code-example [CSSInputValue]="CSScodeExample1"></app-code-example>
</div>
