
<div>
  <p>
    В языке HTML существуют три элемента, помогающих отличить основной контент страницы от первой
    и последней ее строк (которые иногда содержат принципиально отличающуюся информацию). Эти элементы
    полезны людям, использующим программы экранного доступа,а кроме того, они помогают вам выделять данные
    разделы таблицы особым стилем (что вы научитесь делать, начав изучать CSS).
  </p>
  <p>
    Заголовки таблицы должны быть помещены в элемент <code class="tag">&lt;thead&gt;</code>.
  </p>
  <p>
    Основное содержимое (тело) таблицы должно находиться внутри элемента <code class="tag">&lt;tbody&gt;</code>.
  </p>
  <p>
    Последняя, завершающая, строка таблицы должна быть указана внутри элемента <code class="tag">&lt;tfoot&gt;</code>.
    По умолчанию очень немногие браузеры хоть как-либо выделяют содержимое этих трех элементов, однако
    веб-дизайнеры изменяют их внешний вид с помощью каскадных таблиц стилей (CSS).
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2" style="margin-bottom: 220px;">
  <h2 class="head" id="head2">
    Рекомендации по использованию
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Одна из причин использования элементов <code class="tag">&lt;thead&gt;</code> и <code class="tag">&lt;tfoot&gt;</code>
    заключается в том, что если ваша таблица слишком длинная для единовременного отображения на экране
    (или для печати), то браузер будет отображать и заголовок (<code class="tag">&lt;thead&gt;</code>)
    и последнюю строку (<code class="tag">&lt;tfoot&gt;</code>), когда пользователь станет прокручивать вашу
    таблицу. Так делается, чтобы пользователи могли видеть, в каких столбцах находятся отображаемые
    данные. Однако эта функция присутствует не во всех современных браузерах. Для иллюстрации этого
    примера мы использовали несколько параметров стиля CSS с тем, чтобы показать вам, что содержимое
    элементов <code class="tag">&lt;thead&gt;</code> и <code class="tag">&lt;tfoot&gt;</code> может
    быть выведено на экран с собственным стилем.
  </p>
  <p>
    Такая группировка строк была заложена в стандарте в расчете на то, что обозреватели при
    отображении длинных таблиц обеспечат прокрутку строк данных при сохранении надзаголовка и
    подзаголовка неподвижными, а при их выводе на принтер смогут использовать надзаголовок и
    подзаголовок в качестве колонтитулов страницы. Однако, современные обозреватели этого не
    делают и либо просто отображают <code class="tag">&lt;thead&gt;</code> и <code class="tag">&lt;tfoot&gt;</code>
    как строки данных, либо, в лучшем случае, просто помещают соответствующие строки в начало и
    конец таблицы.
  </p>
</div>
