<div>
  <p>
    Каждый блок html-элемента имеет фоновый слой, который может быть полностью прозрачным (по умолчанию) или заполнен цветом и/или одним
    или несколькими изображениями. CSS-свойства фона указывают, какой цвет <code class="css-prop">background-color</code> и изображения
    <code class="css-prop">background-image</code> использовать, а также их размер, расположение, способ укладки и т.д.
  </p>
  <p>
    Свойства фона не наследуются, но фон родительского блока будет просвечивать по умолчанию из-за начального значения в
    <code><code class="css-prop">background-color</code>: <code class="css-value">transparent</code></code>.
  </p>
  <p>
    Фон не отображается у пустых элементов с нулевой высотой. Отрицательные значения свойства <code class="css-prop">margin</code> не
    влияют на фон элемента.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
  <p>
    Свойство <code class="css-prop">background-color</code> устанавливает цвет фона элемента. Цвет рисуется за фоновыми изображениями.
    Для блочных элементов цвет фона распространяется на всю ширину и высоту блока элемента, для строчных — только на область их
    содержимого.
  </p>
  <p>
    Свойство не наследуется.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Источник изображения
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-image</code> устанавливает фоновое изображение (одно или несколько) элемента. Значение
    <code class="css-prop">none</code> считается слоем изображения, но ничего не рисует. Изображение, которое является пустым (нулевой
    ширины или нулевой высоты), которое не загружается или не может быть отображено (например, потому что оно не в поддерживаемом формате
    изображения) также считается слоем, но ничего не рисует.
  </p>
  <p>
    Семантически важные изображения должны предоставляться в разметке документа, например, с тегом <code class="tag">&lt;img&gt;</code>.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample1" [CSSInputValue]="CSSstaticExample1"></app-static-example>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Укладка изображений
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-repeat</code> определяет, как фоновые изображения укладываются в области фона после того,
    как для них установлены размеры и позиционирование. Если значение свойства имеет два ключевых слова, первое используется для
    горизонтального направления, второе — для вертикального.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">repeat-x</code>
        </td>
        <td>
          Изображение повторяется в горизонтальном направлении.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">repeat-y</code>
        </td>
        <td>
          Изображение повторяется в вертикальном направлении.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">repeat</code>
        </td>
        <td>
          Изображение повторяется в обоих направлениях так часто, чтобы покрыть область отрисовки фона. Если изображение не помещается,
          оно обрезается. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">space</code>
        </td>
        <td>
          Изображение повторяется столько раз, сколько оно помещается в области фона, не обрезаясь, изображения расположены на равном
          расстоянии друг от друга. Первое и последнее изображения касаются краев области. Если область рисования фона больше,
          чем область позиционирования фона, шаблон повторяется, чтобы заполнить область рисования фона. Если недостаточно места для двух
          копий изображения, то размещается только одно изображение, а свойство <code class="css-prop">background-position</code>
          определяет его положение.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">round</code>
        </td>
        <td>
          Изображение повторяется так часто, чтобы заполнить область фона, масштабируясь и не обрезаясь.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">no-repeat</code>
        </td>
        <td>
          Изображение размещается один раз и не повторяется.
        </td>
      </tr>
    </tbody>
  </table>
  <app-static-example [InputValue]="HTMLstaticExample2" [CSSInputValue]="CSSstaticExample2"></app-static-example>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Фиксация изображения
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-attachment</code> указывает, является ли фоновое изображение фиксированными относительно
    области просмотра или прокручивается вместе с элементом или его содержимым.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">scroll</code>
        </td>
        <td>
          Фоновое изображение прокручивается вместе с текстом и другим содержимым. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">fixed</code>
        </td>
        <td>
          Предотвращает перемещение, фиксирует фоновое изображение на заднем плане.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">local</code>
        </td>
        <td>
          Фоновое изображение прокручивается вместе с содержимым элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <app-static-example [InputValue]="HTMLstaticExample3" [CSSInputValue]="CSSstaticExample3"></app-static-example>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Позиционирование изображений
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Если для элемента заданы фоновые изображения, свойство <code class="css-prop">background-position</code> указывает их начальное
    положение (после любого изменения размера) в соответствующей области расположения фона.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">%</code>
        </td>
        <td>
          Горизонтальное смещение вычисляется по формуле ширина области расположения фона — ширина фонового изображения. Вертикальное
          смещение по формуле высота области расположения фона - высота фонового изображения, где размер изображения — это размер,
          заданный свойством <code class="css-prop">background-size</code>. Значение по умолчанию 0% 0%.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Значение длины дает фиксированную длину в качестве смещения.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">left</code>
        </td>
        <td>
          Вычисляет до 0% для горизонтальной позиции, если задано одно или два значения, в противном случае смещение происходит
          относительно левого края.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">center</code>
        </td>
        <td>
          Вычисляет в <code><code class="css-prop">left</code> <code class="css-number">50</code><code class="css-value">%</code></code>
          для горизонтального положения, если не указано иное горизонтальное положение, или как
          <code><code class="css-prop">top</code> <code class="css-number">50</code><code class="css-value">%</code></code>
          для вертикального положения, если оно задано.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">right</code>
        </td>
        <td>
          Вычисляет в 100% для горизонтального положения, если задано одно или два значения, в противном случае смещение происходит
          относительно правого края.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">top</code>
        </td>
        <td>
          Вычисляет в 0% для вертикальной позиции, если задано одно или два значения, в противном случае смещение происходит относительно
          верхнего края.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">bottom</code>
        </td>
        <td>
          Вычисляет в 100% для вертикальной позиции, если задано одно или два значения, в противном случае смещение происходит
          относительно нижнего края.
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Если указано только одно значение, второе значение считается center. Если заданы два значения в единицах длины или %, то первое
    значения представляет горизонтальную позицию, второе — вертикальную. Значения в единицах длины или % представляют смещение верхнего
    левого угла фонового изображения от верхнего левого угла области расположения фона.
  </p>
  <p>
    Пара ключевых слов может быть переупорядочена, в то время как комбинация ключевого слова и длины или процента не может. Например,
    <code class="css-prop">center left</code> — допустимое значение, а <code><code class="css-number">50</code><code class="css-value">% </code><code class="css-prop">left</code></code> — нет.
  </p>
  <p>
    Если заданы три или четыре значения в единицах длины или %, то перед каждым значением должно стоять ключевое слово, которое указывает,
    от какого края дается смещение. Если даны три значения, недостающее смещение считается равным нулю.
  </p>
  <p>
    Положительные значения смещают внутрь от края области расположения фона. Отрицательные значения смещают наружу от края области
    расположения фона.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample4" [CSSInputValue]="CSSstaticExample4"></app-static-example>
</div>

<div data-custom="head6">
  <h2 class="head" id="head6">
    Область отображения
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-clip</code> определяет область рисования фона. Фон всегда рисуется под рамкой элемента,
    если таковая имеется.
  </p>
  <p>
    Корневой элемент имеет другую область рисования фона, поэтому свойство <code class="css-prop">background-clip</code> на него не
    влияет.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">border-box</code>
        </td>
        <td>
          Фон закрашивает область в пределах рамки элемента. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">padding-box</code>
        </td>
        <td>
          Фон закрашивает область в пределах внутренних полей элемента.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">content-box</code>
        </td>
        <td>
          Фон закрашивает только область содержимого.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">text</code>
        </td>
        <td>
          Фон закрашивает только область текста.
        </td>
      </tr>
    </tbody>
  </table>
  <app-static-example [InputValue]="HTMLstaticExample5" [CSSInputValue]="CSSstaticExample5"></app-static-example>
</div>

<div data-custom="head7">
  <h2 class="head" id="head7">
    Область расположения фона
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-origin</code> указывает область расположения фона для элементов, которые выводятся на
    экране как единый блок (например, не абзацы текста).
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">padding-box</code>
        </td>
        <td>
          Фон позиционируется относительно верхних границ области внутренних полей элемента. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">border-box</code>
        </td>
        <td>
          Фон позиционируется относительно верхних границ рамки элемента.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">content-box</code>
        </td>
        <td>
          Фон позиционируется относительно верхних границ области содержимого элемента.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">text</code>
        </td>
        <td>
          Фон закрашивает только область текста.
        </td>
      </tr>
    </tbody>
  </table>
  <app-static-example [InputValue]="HTMLstaticExample6" [CSSInputValue]="CSSstaticExample6"></app-static-example>
</div>

<div data-custom="head8">
  <h2 class="head" id="head8">
    Размер изображений
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">background-size</code> устанавливает размер фоновых изображений.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">auto</code>
        </td>
        <td>
          Значение по умолчанию. Высота и ширина изображения равны его оригинальным размерам.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Размер задается парой значений, первое значение устанавливает ширину изображения, второе — высоту. Для того, чтобы фон
          масштабировался вместе с текстом, размеры изображения нужно задавать в em.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">%</code>
        </td>
        <td>
          Задает размер фонового изображения в процентах от ширины или высоты элемента, которое заполняется фоном.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">cover</code>
        </td>
        <td>
          Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">contain</code>
        </td>
        <td>
          Масштабирует изображение с сохранением пропорций таким образом, чтобы оно целиком поместилось внутри блока.
        </td>
      </tr>
    </tbody>
  </table>
  <app-static-example [InputValue]="HTMLstaticExample7" [CSSInputValue]="CSSstaticExample7"></app-static-example>
</div>

