
<div>
  <p>
    Для определения карты изображений (интерактивной области ссылок) используется элемент
    <code class="tag">&lt;map&gt;</code>.
  </p>
  <p>
    Для определения активной области на изображении используется элемент <code class="tag">&lt;area&gt;</code>.
    При желании можно связать с гипертекстовой ссылкой. Этот элемент используется только внутри
    элемента <code class="tag">&lt;map&gt;</code>.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты элемента map
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">name</code>
    </dt>
    <dd>
      Атрибут name даёт карте имя, чтобы на неё можно было ссылаться. Атрибут должен быть определён
      и иметь не пустое значение без пробелов. Значение атрибута name не должно совпадать с регистром
      совместимости со значением атрибута name другого элемента карты в том же документе. Если также
      указан атрибут <code class="attr-value">id</code>, то они оба должны иметь одинаковое значение.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Атрибуты элемента area
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">alt</code>
    </dt>
    <dd>
      С помощью этого атрибута задаётся альтернативный текст, описывающий изображение, если оно не
      доступно. Он должен быть сформулирован так, чтобы предоставить пользователю тот же выбор, что и
      изображение, которое отрисуется без альтернативного текста. В HTML4 данный атрибут обязателен,
      но так же может содержать и пустую строку (""). В HTML5 этот атрибут обязателен только при
      наличии атрибута <code class="attr-name">href</code>.
    </dd>
    <dt>
      <code class="attr-name">coords</code>
    </dt>
    <dd>
      Задаёт значения координат для активной области. Значение и количество значений зависят от
      значения указанного для атрибута <code class="attr-name">shape</code>. Для <code class="attr-value">rect</code>
      или прямоугольника задаются две пары значений <kbd>x,y coords</kbd>: лево, верх, право и низ.
      Для <code class="attr-value">circle</code>, значения <kbd>x,y,r</kbd> где <kbd>x,y</kbd>
      координаты центра круга,а <kbd>r</kbd> радиус. Для <code class="attr-value">poly</code> или
      многоугольника, значения задаются парой x и y для каждой вершины многоугольника: <kbd>x1,y1,x2,y2,x3,y3</kbd>
      и т.д. В HTML4 значения задаются в пикселях или процентах, когда добавлен знак (%); в HTML5,
      значения — величины в пикселях.
    </dd>
    <dt>
      <code class="attr-name">href</code>
    </dt>
    <dd>
      Ссылка для активной области. Это значение действующего URL. В HTML4, этот или <code class="attr-name">nohref</code>
      атрибут обязательный. В HTML5, данный атрибут можно пропустить при условии, что активная область
      не является ссылкой.
    </dd>
    <dt>
      <code class="attr-name">shape</code>
    </dt>
    <dd>
      Выбор геометрической формы для координатного описания. Спецификации для HTML5 и HTML4 определяют
      значения <code class="attr-value">rect</code>, которые определяют прямоугольную область; <code class="attr-value">circle</code>,
      который определяет круглую область; <code class="attr-value">poly</code>, определяющий
      многоугольник; и по умолчанию, который указывает всю область за пределами любых определенных форм.
      Многие браузеры, особенно Internet Explorer 4 и выше, поддерживают окружность, многоугольник и
      прямоугольник в качестве допустимых значений формы;
    </dd>
  </dl>
</div>
