@import "_variables.scss";

:root{
    box-sizing: border-box;
    font-size: 14px;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body {
  background-color: $third-color;

  h1 {
    font-size: 2em;
    margin: .67em 0 .67em;
  }

  h2 {
    font-size: 1.5em;
    margin: .83em 0 .83em;
  }

  h3 {
    font-size: 1.17em;
    margin: 1em 0 1em;
  }

  h4 {
    font-size: 1em;
    margin: 1.33em 0 1.33em;
  }

  h5 {
    font-size: .83em;
    margin: 1.67em 0 1.67em;
  }

  h6 {
    font-size: .67em;
    margin: 2.33em 0 2.33em;
  }

  p {
    margin: 1em 0 1em;
  }

  samp {
    font-family: initial;
  }

  blockquote {
    margin: 1em 2.85em;
  }

  address {
    font-style: italic;
  }

  .cm-editor {
    outline: none !important;
  }

  ol, ul {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  dl{
      margin-top: 1em;
      margin-bottom: 1em;
  }
  dd{
      margin-left: 40px;
  }
}
