
<div>
  <p>
    HTML-элемент <code class="tag">&lt;audio&gt;</code> используется для встраивания звукового
    содержимого в документы. Он может содержать один или несколько аудиоисточников, представленных с
    помощью атрибута src или элемента <code class="tag">&lt;source&gt;</code>: браузер выберет наиболее
    подходящий. Он также может быть местом назначения для потокового мультимедиа с использованием
    <kbd>MediaStream</kbd>.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
  <p>
    В приведенном выше примере показано простое использование элемента <code class="tag">&lt;audio&gt;</code>.
    Подобно элементу <code class="tag">&lt;img&gt;</code>, мы включаем путь к медиафайлу, который хотим
    отобразить, внутри атрибута <code class="attr-name">src</code>, мы можем включить другие атрибуты,
    чтобы указать такую информацию, как ширина и высота видео, хотим ли мы, чтобы оно автоматически
    воспроизводилось и зацикливалось, хотим ли мы отображать элементы управления видео по умолчанию в
    браузере и т. д.
  </p>
  <p>
    Контент внутри открывающего и закрывающего тегов <code class="tag">&lt;audio&gt;</code>
    <code class="tag">&lt;/audio&gt;</code> отображается как запасной вариант в браузерах, не
    поддерживающих этот элемент.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">autoplay</code>
    </dt>
    <dd>
      Логический атрибут, если указано, видео автоматически начинает воспроизводиться, как только оно
      может это сделать, не останавливаясь для завершения загрузки данных. Чтобы удалить
      автовоспроизведение, атрибут нужно удалить вообще.
    </dd>
    <dt>
      <code class="attr-name">controls</code>
    </dt>
    <dd>
      Если этот атрибут присутствует, браузер предложит элементы управления, позволяющие пользователю
      управлять воспроизведением видео, включая громкость, поиск и паузу/возобновление воспроизведения.
    </dd>
    <dt>
      <code class="attr-name">loop</code>
    </dt>
    <dd>
      Логический атрибут, если указано, браузер будет автоматически возвращаться к началу при
      достижении конца видео.
    </dd>
    <dt>
      <code class="attr-name">muted</code>
    </dt>
    <dd>
      Логический атрибут, указывающий настройку по умолчанию для звука, содержащегося в видео.
      Если установлено, звук изначально будет отключен.
    </dd>
    <dt>
      <code class="attr-name">preload</code>
    </dt>
    <dd>
      Этот перечисляемый атрибут предназначен для того, чтобы предоставить браузеру подсказку о том,
      что, по мнению автора, приведет к наилучшему взаимодействию с пользователем в отношении того,
      какой контент загружается перед воспроизведением видео.
    </dd>
    <dt>
      <code class="attr-name">src</code>
    </dt>
    <dd>
      URL-адрес видео для встраивания. Это необязательно, вместо этого вы можете использовать элемент
      <code class="tag">&lt;source&gt;</code> в блоке видео, чтобы указать видео для встраивания.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Рекомендации по использованию
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Не все браузеры поддерживают одни и те же типы файлов и аудиокодеки, вы можете указать несколько
    источников внутри вложенных элементов <code class="tag">&lt;source&gt;</code>, и тогда браузер будет
    использовать первый из них, который он понимает.
  </p>
  <app-code-example [InputValue]="codeExample1"></app-code-example>
  <p>Другие примечания по использованию:</p>
  <ul>
    <li>
      Если вы не укажете атрибут <code class="attr-name">controls</code>, аудиоплеер не будет включать в
      себя элементы управления браузера по умолчанию, вы можете создавать собственные настраиваемые
      элементы управления с помощью <kbd>JavaScript</kbd> и API <kbd>HTMLMediaElement</kbd>.
    </li>
    <li>
      Чтобы обеспечить точный контроль над вашим аудио содержимым, <kbd>HTMLMediaElements</kbd>
      запускает множество различных событий. Э Это также дает возможность отслеживать процесс
      извлечения аудио, чтобы вы могли следить за ошибками или определять, когда доступно достаточно,
      чтобы начать воспроизведение или манипулировать им.
    </li>
    <li>
      Вы также можете использовать API веб-аудио для прямого создания аудиопотоков и управления ими из
      кода <kbd>JavaScript</kbd> вместо потоковой передачи уже существующих аудиофайлов.
    </li>
    <li>
      Элементы <code class="tag">&lt;audio&gt;</code> не могут иметь субтитры или титры, связанные с
      ними так же, как элементы <code class="tag">&lt;video&gt;</code>.
    </li>
  </ul>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Обнаружение добавления и удаления треков
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Вы можете определить, когда дорожки добавляются и удаляются из элемента <code class="tag">&lt;audio&gt;</code>,
    используя события <kbd>addtrack</kbd> и <kbd>removetrack</kbd>. Однако эти события не отправляются
    непосредственно в сам элемент <code class="tag">&lt;audio&gt;</code>. Вместо этого они отправляются
    в объект списка дорожек в <kbd>HTMLMediaElement</kbd> элемента <code class="tag">&lt;audio&gt;</code>,
    который соответствует типу дорожки, добавленной к элементу.
  </p>
</div>

<div data-custom="head5" style="margin-bottom: 190px;">
  <h2 class="head" id="head5">
    Проблемы доступности
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Аудио с разговорным диалогом должно содержать как подписи, так и стенограммы, которые точно
    описывают его содержание. Субтитры, указанные с помощью <kbd>WebVTT</kbd>, позволяют людям с потерей слуха
    понимать содержание аудиозаписи во время ее воспроизведения, а стенограммы позволяют людям, которым
    требуется дополнительное время, просматривать содержимое записи в темпе и формате, им удобно.
  </p>
  <p>
    Если используются службы автоматического создания субтитров, важно проверить сгенерированный
    контент, чтобы убедиться, что он точно представляет исходный звук.
  </p>
  <p>
    Элемент <code class="tag">&lt;audio&gt;</code> не поддерживает <kbd>WebVTT</kbd> напрямую. Вам нужно
    будет найти библиотеку или фреймворк, которые предоставляют вам такую возможность, или написать код
    для отображения подписей самостоятельно. Один из вариантов — воспроизвести аудио с помощью элемента
    <code class="tag">&lt;video&gt;</code>, который поддерживает <kbd>WebVTT</kbd>.
  </p>
  <p>
    В дополнение к разговорному диалогу субтитры и стенограммы также должны идентифицировать музыку и
    звуковые эффекты, которые передают важную информацию. Это включает в себя эмоции и тон.
  </p>
</div>


