<div>
  <p>
    Комбинация селекторов позволяет выбирать элементы, которые соответствуют нескольким условиям
    одновременно.
  </p>
  <p>
    Группировка селекторов в CSS позволяет применять один и тот же набор правил к нескольким
    элементам. Для этого селекторы перечисляются через запятую.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примеры комбинации различных селекторов:
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Комбинация селекторов позволяет выбирать элементы, которые соответствуют нескольким условиям
    одновременно. Вот несколько примеров комбинации различных селекторов:
  </p>
  <p>
    Комбинация селекторов потомка и класса: выбираются элементы, которые являются потомками других
    элементов и имеют определенный класс. Например, чтобы выбрать все элементы <code class="tag">span</code> с
    классом <code class="attr-value">my-class</code>,которые находятся внутри элементов <code class="tag">p</code>,
    используйте селектор <code class="css-selector">p span.my-class.</code>
  </p>
  <app-static-example [InputValue]="HTMLstaticExample1" [CSSInputValue]="CSSstaticExample1"></app-static-example>
  <p>
    Комбинация селекторов псевдоклассов и класса: выбираются элементы, которые имеют определенный
    класс и определенное состояние, заданное с помощью псевдокласса. Например, чтобы выбрать все
    элементы <code class="tag">button</code> с классом <code class="attr-value">my-class</code>, которые находятся
    в состоянии <code class="css-selector">hover</code>, используйте селектор
    <code class="css-selector">button.my-class:hover</code>.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample2" [CSSInputValue]="CSSstaticExample2"></app-static-example>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Пример группировки различных селекторов
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Комбинация нескольких селекторов через запятую. Выбираются элементы, которые соответствуют любому
    из перечисленных селекторов. Благодоря этому мы можем применить один и тот же стиль к нескольким элементам.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample3" [CSSInputValue]="CSSstaticExample3"></app-static-example>
</div>

