
<div>
  <p>
    К настоящему моменту вы уже должны уметь прикреплять вложения на свои веб-страницы, включая
    изображения, видео и аудио. На этом этапе мы хотели бы сделать шаг в сторону, рассматривая
    некоторые элементы, которые позволяют встраивать в ваши веб-страницы самые разнообразные типы
    контента. <code class="tag">&lt;iframe&gt;</code> предназначен для встраивания других веб-страниц
</p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
  <p>
    Элементы <code class="tag">&lt;iframe&gt;</code> предназначены для размещения других веб-документов
    в текущем документе. Это отлично подходит для включения стороннего контента на ваш сайт, который,
    возможно, не имеет прямого контроля и не хочет реализовывать вашу собственную версию - например,
    видео от поставщиков онлайн-видео, системы комментариев, такие как Disqus, карты от поставщиков
    онлайн-карт, рекламных баннеров и т.д.
  </p>
  <p>
    Есть несколько серьёзных Проблем безопасности при использовании <code class="tag">&lt;iframe&gt;</code>,
    которые мы обсудим ниже, но это не значит, что вы не должны использовать их на своих сайтах - они
    просто требуют некоторых знаний и тщательного обдумывания.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Проблемы безопасности
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Давайте рассмотрим код немного подробнее. Скажем, вы хотите добавить видео ролик на одну из своих
    веб-страниц. Вы можете попробовать что-то вроде этого:
  </p>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
  <p>
    Разработчики браузеров и веб-разработчики на горьком опыте усвоили, что iframe - частая цель
    (официальный термин: вектор атаки) плохих людей в Интернете (часто называемых хакерами, или, более
    точно, крекерами) для атаки при попытке злонамеренно изменить ваши веб-страницы или обманом
    заставить посетителей делать то, чего они не хотят, например, раскрыть конфиденциальную информацию
    вроде имени пользователя и пароли. Чтобы избежать этого, авторы спецификаций и разработчики
    браузеров разработали различные механизмы безопасности для обеспечения защиты <code class="tag">&lt;iframe&gt;</code>.
  </p>
  <p>
    На самом деле, вы ничего не увидите на странице, т.к. если вы посмотрите в консоль в инструментах
    разработчика браузера, вы увидите сообщение, объясняющее вам, почему. В Firefox вы получите
    сообщение «Отказано в доступе» в связи с <kbd>X-Frame-Options</kbd>: https://www.youtube.com/watch?v=Whg1_TtnksI
    во фрейме запрещена директивой «X-Frame-Options».
  </p>
  <p>
    Иногда имеет смысл вставлять сторонний контент - например, видео и карты, но вы избежите головной
    боли, если будете вставлять сторонний контент только тогда, когда это абсолютно необходимо.
    Хорошее эмпирическое правило для веб-безопасности: «Вы никогда не можете быть слишком осторожным.
    Если вы что-то сделали, дважды проверьте это. Если кто-то другой сделал это, считайте, что это
    опасно, пока не будет доказано обратное».
  </p>
  <p>
    Помимо безопасности, вы также должны знать об интеллектуальной собственности. Большинство контента
    находится под защитой авторских прав, даже тот, от которого вы не могли ожидать. Никогда не выводите
    контент на свою страницу, если он вам не принадлежит или если нет однозначного письменного
    разрешения от правообладателя. Наказания за нарушения авторских прав строги. И, повторимся, вы
    никогда не можете быть слишком осторожными.
  </p>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">allow</code>
    </dt>
    <dd>
      Указывает политику разрешений для <code class="tag">&lt;iframe&gt;</code>. Политика определяет,
      какие функции доступны для <code class="tag">&lt;iframe&gt;</code> (например, доступ к микрофону,
      камере, батарее, общему веб-ресурсу и т.д.) в зависимости от источника запроса.
    </dd>
    <dt>
      <code class="attr-name">height</code>
    </dt>
    <dd>
      Высота кадра в пикселях.
    </dd>
    <dt>
      <code class="attr-name">sandbox</code>
    </dt>
    <dd>
      Применяет дополнительные ограничения к содержимому в кадре. Значение атрибута может быть либо
      пустым, чтобы применить все ограничения, либо разделенными пробелами токенами, чтобы снять
      определенные ограничения.
    </dd>
    <dt>
      <code class="attr-name">src</code>
    </dt>
    <dd>
      URL-адрес страницы для встраивания.
    </dd>
    <dt>
      <code class="attr-name">srcdoc</code>
    </dt>
    <dd>
      Встроенный HTML для встраивания, переопределяющий атрибут <code class="attr-name">src</code>.
      Если браузер не поддерживает атрибут <code class="attr-name">srcdoc</code>, он вернется к
      URL-адресу в атрибуте <code class="attr-name">src</code>.
    </dd>
    <dt>
      <code class="attr-name">width</code>
    </dt>
    <dd>
      Ширина кадра в пикселях.
    </dd>
  </dl>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Рекомендация по безопасности
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Вы хотите дать хакерам как можно меньше возможностей, чтобы делать плохие вещи на вашем веб-сайте,
    поэтому вы должны позволять копипастить встроенный контент только с разрешений, необходимых для
    выполнения этого действия. Конечно, это относится и к вашему собственному контенту. Контейнер для
    кода, в котором он может использоваться надлежащим образом или для тестирования, но не может нанести
    вред остальной части кодовой базы (случайной или злонамеренной), называется <code class="attr-name">sandbox</code>.
  </p>
  <p>
    Контент, не ограниченный <code class="attr-name">sandbox</code>, может сделать слишком многое
    (выполнение <kbd>JavaScript</kbd>, отправка форм, всплывающие окна и т. д.). По умолчанию включайте
    все возможные ограничения, используя атрибут <code class="attr-name">sandbox</code> без параметров.
  </p>
  <p>
    Если это необходимо, вы можете добавлять разрешения один за другим (внутри значения атрибута
    sandbox=""). Важно отметить, что вы никогда не должны использовать значения атрибутов <code class="attr-value">allow-scripts</code>
    и <code class="attr-value">allow-same-origin</code> в свой sandbox атрибут одновременно — в таком
    случае, встроенный контент может обходить политику безопасности, которая запрещает сайтам выполнять
    скрипты и использовать <kbd>JavaScript</kbd> для отключения "песочницы" <code class="attr-name">sandbox</code>.
  </p>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Внедрение видео ролик из YouTube</h3>
  <p>В данном примере мы воспользовались функцией "Встраивания" для внедрение видео ресурса.</p>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
  <h3>Внедрение аудио контента из Spotify</h3>
  <p>В данном примере мы воспользовались функцией "Встраивания" для внедрение аудио ресурса.</p>
  <app-static-example [InputValue]="staticExample3"></app-static-example>
  <h3>Внедрение аудио контента из SoundCloud</h3>
  <p>В данном примере мы воспользовались функцией "Встраивания" для внедрение аудио ресурса.</p>
  <app-static-example [InputValue]="staticExample4"></app-static-example>
</div>
