
<div>
  <p>
    Иногда вам может понадобиться, чтобы ячейка таблицы занимала не один, а несколько столбцов.
    Атрибут <code class="attr-name">colspan</code> может  быть использован с элементами
    <code class="tag">&lt;th&gt;</code> и <code class="tag">&lt;td&gt;</code> для обозначения, сколько
    столбцов должна занимать ячейка.
  </p>
  <p>
    Кроме того, вам может понадобиться сделать так, чтобы одна ячейка занимала несколько строк.
    Атрибут <code class="attr-name">rowspan</code> может быть использован с элементами <code class="tag">&lt;th&gt;</code> и <code class="tag">&lt;td&gt;</code>
    для обозначения, на сколько строк должна простираться ячейка.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0; margin-bottom: 200px;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>
