
<div>
  <p>
    При верстке веб-страницы текст размечают тегами. Теги добавляют тексту дополнительное значение
    и позволяют браузерам правильно отображать структуру страницы.
  </p>
  <p>
    В языке HTML существует шесть уровней заголовков: <code>&lt;h1&gt;</code>
    используется для основных заголовков; с <code>&lt;h2&gt;</code> по <code>&lt;hб&gt;</code>-
    для подзаголовков.
  </p>
  <p>
    Если текст разделен на фрагменты более глубокого уровня, то для них используются заголовки
    <code>&lt;h1&gt;</code> и ниже.
  </p>
  <p>
    Браузеры отображают содержимое элементов-заголовков шрифтом разного размера. Текст
    заголовка <code>&lt;h1&gt;</code> выводится самым крупным шрифтом, текст заголовка
    <code>&lt;hб&gt;</code> - самым мелким. Кегль шрифта, используемый разными браузерами для отображения заголовков
    разного уровня, незначительно отличается. Кроме того, пользователи также могут отрегулировать
    кегль шрифта отображаемого текста. Вы узнаете, как устанавливать кегль, цвет и гарнитуру текста,
    когда мы перейдем к изучению каскадных таблиц стилей (CSS).
  </p>
</div>

<div data-custom="head1">
  <h2 class="head" id="head1">
    Элемент &lt;h1&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Заголовок самого верхнего уровня, на странице рекомендуется использовать только один раз,
    по возможности частично дублируя заглавие страницы. Элемент <code>&lt;h1&gt;</code> должен
    быть уникальным для каждой страницы сайта.
  </p>

  <p>
    Рекомендуется прописывать в начале статьи, используя ключевое слово в тексте заголовка.
    Размер шрифта в браузере равен <b>2em</b>, верхний и нижний отступ по умолчанию <b>0.67em</b>
    (em – размер шрифта относительно обычного, т. е., если шрифт имеет размер 2.5em,
    значит, он в 2,5 раза больше обычного шрифт, далее в уроках мы более детально рассмотрим
    тему единиц измерения).
  </p>

  <div class="code-mirror head1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head1">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Элемент &lt;h2&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Представляет подзаголовки элемента <code>&lt;h1&gt;</code>. Размер шрифта в браузере равен <b>1.5em</b>,
    верхний и нижний отступ по умолчанию <b>0.83em</b>.
  </p>

  <div class="code-mirror head2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Элемент &lt;h3&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Показывает подзаголовки элемента <code>&lt;h2&gt;</code>. Размер шрифта в браузере равен <b>1.17em</b>,
    верхний и нижний отступ по умолчанию <b>1em</b>.
  </p>

  <div class="code-mirror head3">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head4" style="margin-bottom: 220px;">
  <h2 class="head" id="head4">
    Элементы &lt;h4&gt;, &lt;h5&gt;, &lt;h6&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Обозначают подзаголовки четвёртого, пятого и шестого уровня.
    Размер шрифта в браузере равен <b>1em</b> / <b>0.83em</b> / <b>0.67em</b>,
    верхний и нижний отступ по умолчанию <b>1.33em</b> / <b>1.67em</b> / <b>2.33em</b> соответственно.
  </p>

  <div class="code-mirror head4">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head4">
    <div class="label">Результат</div>
  </div>
</div>
