
<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Абзацы
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Для создания абзаца заключите текст в открывающий <code>&lt;p&gt;</code> и закрывающий
    <code>&lt;/p&gt;</code> теги.
  </p>

  <p>
    По умолчанию браузер автоматически отобразит каждый абзац с новойстроки, при этом абзацы
    будут несколько отстоять друг от друга. Браузер автоматически добавляет верхнее и нижнее
    внешнее поле margin, равное <b>1em</b>, при этом поля соседних абзацев <b>«схлопываются»</b>
    (т.е. между абзацами будет промежуток в <b>1em</b>, а не в <b>2em</b>, для избегания двойных
    отступов между абзацами. Более детально можете изучить этот момент в примере ниже через
    инспектор кода используя комбинацию клавиш "Ctrl+Shift+C").
  </p>

  <div class="code-mirror head1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head1">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Полужирное и курсивное начертание
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;b&gt;</h3>

  <p>
    Чтобы выделить текст полужирным начертанием шрифта, нужно поместить его между тегами
    <code>&lt;b&gt;</code> и <code>&lt;/b&gt;</code>. Элемент <code>&lt;b&gt;</code> также
    обозначает фрагмент текста (например, ключевые слова), внешний вид которогобудет отличаться от
    основного текста абзаца. При этом использование данного элемента не добавляет дополнительных
    значений к тексту.
  </p>

  <div class="code-mirror head2_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head2_1">
    <div class="label">Результат</div>
  </div>

  <h3>Элемент &lt;i&gt;</h3>

  <p>
    Чтобы отобразить текст с курсивным начертанием шрифта, его следует поместить между тегами
    <code>&lt;i&gt;</code> и <code>&lt;/i&gt;</code>. Элемент <code>&lt;i&gt;</code> определяет
    фрагмент текста, отличающийся от основного текста, например технические термины,
    иностранные слова и прочие виды включений в текст, которые принято выделять курсивом.
  </p>

  <div class="code-mirror head2_2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head2_2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Перевод строк и горизонтальные линии
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;br&gt;</h3>

  <p>
    Как вы уже видели раньше, браузер автоматически начинает каждый абзац с новой строки,
    однако если вы хотите добавить перевод строки в пределах какого-либо абзаца, то вам
    понадобится вставить специальный тег - <code>&lt;br&gt;</code>.
  </p>

  <div class="code-mirror head3_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3_1">
    <div class="label">Результат</div>
  </div>

  <h3>Элемент &lt;hr&gt;</h3>

  <p>
    Чтобы визуально разделить темы книги или сцены пьесы, с помощью тега <code>&lt;hr&gt;</code>
    вы можете добавить в текст горизонтальную линию. В языке HTML существует несколько элементов,
    не содержащих текста между открывающим и закрывающим тегами. Их принято называть пустыми
    элементами. Написание таких тегов отличается от стандартного. Обычно пустой элемент
    состоит только из одного тега, перед правой, закрывающей скобкой которого вставляются
    пробел и слеш. Некоторые верстальщики вебстраниц опускают пробел и слеш, хотя их указание
    и рекомендуется для следования спецификации.
  </p>

  <div class="code-mirror head3_2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3_2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Подстрочные и надстрочные элементы
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элементы &lt;sup&gt; и &lt;sub&gt;</h3>

  <p>
    Элемент <code>&lt;sup&gt;</code> используется для выделения символов, которые должны быть отображены как
    надстрочные, к примеру, ряд математических понятий, таких как возведение в степень.
  </p>

  <p>
    Элемент <code>&lt;sub&gt;</code> используется для отображения символов как подстрочных.
    Подстрочные символы, как правило, используются в химических формулах, таких как Н<sub>2</sub>0.
  </p>

  <div class="code-mirror head4">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head4">
    <div class="label">Результат</div>
  </div>

</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Пробелы
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Верстальщики веб-страниц часто добавляют дополнительные пробелы в код или даже помещают
    некоторые элементы на новые строки с целью повышения удобочитаемости кода.
  </p>

  <p>
    Когда браузер встречается с двумя или более пробелами, идущими друг за другом, он отображает
    только. Аналогично он поступает и с переносом строки, воспринимая его как единичный
    символ пробела. Данное свойство браузеров известно как <b>сворачивание пробелов</b>.
  </p>

  <div class="code-mirror head5">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head5">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head6">
  <h2 class="head" id="head6">
    Элементы &lt;big&gt; и &lt;small&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Элемент <code>&lt;big&gt;</code> увеличивает размер шрифта на единицу по сравнению с обычным текстом.
  </p>

  <p>
    Элемент <code>&lt;small&gt;</code> уменьшает размер шрифта на единицу по сравнению с обычным текстом.
  </p>

  <div class="code-mirror head6">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head6">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head7">
  <h2 class="head" id="head7">
    Исправлнения контента
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элементы &lt;del&gt; и &lt;ins&gt;</h3>

  <p>
    Элемент <code>&lt;ins&gt;</code> может быть использован для отображения контента, добавленного
    в документ, в то время как <code>&lt;del&gt;</code> - для отображения удаленного контента.
    Содержимое элемента <code>&lt;ins&gt;</code>, как правило, выделяется подчеркиванием, тогда
    как элемента <code>&lt;del&gt;</code> - зачеркиванием.
  </p>

  <div class="code-mirror head7">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head7">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head8">
  <h2 class="head" id="head8">
    Элемент &lt;mark&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Применяется для выделения фрагментов текста в справочных целях, окрашивая блок символов желтым цветом.
  </p>

  <div class="code-mirror head8">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head8">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head9">
  <h2 class="head" id="head9">
    Важная информация и логическое ударение
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;strong&gt;</h3>

  <p>
    Элемент <code>&lt;strong&gt;</code> используется для обозначения того, что текст, помещенный
    в него, имеет высокую степень важности. Например текст этого элемента может быть интонационно
    выделен при чтении программой экранного доступа. По умолчанию браузеры отображают содержимое
    элемента <code>&lt;strong&gt;</code> шрифтом с полужирным начертанием.
  </p>

  <div class="code-mirror head9_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head9_1">
    <div class="label">Результат</div>
  </div>

  <h3>Элемент &lt;em&gt;</h3>

  <p>
    Элемент <code>&lt;em&gt;</code> используется для обозначения логического ударения, которое
    несколько изменяет значение всего предложения. По умолчанию браузеры отображают содержимое
    элемента <code>&lt;em&gt;</code> шрифтом с курсивным начертанием.
  </p>

  <div class="code-mirror head9_2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head9_2">
    <div class="label">Результат</div>
  </div>
</div>
