
<div>
  <p>
    Существует достаточно много оснований, чтобы добавить на веб-страницу какое-либо изображение.
    Этим изображением может быть, например, логотип, фотография, иллюстрация, схема или диаграмма.
  </p>
  <p>
    Для добавления изображения на страницу воспользуйтесь элементом <code class="tag">&lt;img&gt;</code>.
    Он является пустым (то есть без закрывающего тега).
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примечания об использовании
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Приведённый выше пример показывает очень простое использование элемента <code class="tag">&lt;img&gt;</code>.
    Атрибут <code class="attr-name">src</code> обязателен и содержит путь к изображению, которое вы
    хотите встроить в документ. Атрибут <code class="attr-name">alt</code> содержит текстовое описание
    изображения, которое не обязательно, но невероятно полезно для доступности — программы чтения с
    экрана читают это описание своим пользователям, так они знают какое изображение показано, и так же
    оно отображается на странице, если изображение не может быть загружено по какой-либо причине.
  </p>
  <p>
    Есть много других атрибутов, которые могут быть указаны для достижения различных целей, например:
  </p>
  <ul>
    <li>
      управление Referrer/CORS в целях безопасности. Смотрите ниже атрибуты <code class="attr-name">crossorigin</code>
      и <code class="attr-name">referrerpolicy</code>
    </li>
    <li>
      настройка внутреннего размера с использованием <code class="attr-name">width</code>
      и <code class="attr-name">height</code>, которые полезны, когда вы хотите задать пространство
      занимаемое изображением, чтобы обеспечить стабильность макета страницы перед его загрузкой;
    </li>
    <li>
      адаптивные изображения рекомендуется использовать с атрибутами <code class="attr-name">sizes</code>
      и <code class="attr-name">srcset</code>
    </li>
  </ul>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">src</code>
    </dt>
    <dd>
      Данный атрибут сообщает браузеру расположение нужного изображения. Как правило, его значением
      будет относительный URL-aдpec, указывающий на изображение, хранящееся в директориях вашего
      собственного сайта
    </dd>
    <dt>
      <code class="attr-name">alt</code>
    </dt>
    <dd>
      Данный атрибут предоставляет текстовое описание изображения, выводимое на экран в случае, если
      нет возможности показать само изображение. Текст, указываемый в значении атрибута <code class="attr-name">alt</code>,
      часто называют замещающим текстом. Он должен представлять собой точное описание изображения,
      чтобы оно могло быть распознано программным обеспечением экранного доступа (используемым людьми
      с нарушением зрения) и поисковыми системами.
    </dd>
    <dt>
      <code class="attr-name">crossorigin</code>
    </dt>
    <dd>
      Этот атрибут указывает, следует ли использовать CORS при загрузке изображения или нет.
      Изображения с включённой поддержкой CORS могут быть повторно использованы в элементе
      <code class="tag">&lt;canvas&gt;</code> не будучи "испорченными" (Испорченный холст - это тот,
      который больше не считается безопасным, и любые попытки получить данные изображения с холста
      вызовут исключение).
    </dd>
    <dt>
      <code class="attr-name">width</code>
    </dt>
    <dd>
      Внутренняя ширина изображения в пикселях
    </dd>
    <dt>
      <code class="attr-name">height</code>
    </dt>
    <dd>
      Внутренняя высота изображения в пикселях
    </dd>
    <dt>
      <code class="attr-name">title</code>
    </dt>
    <dd>
      С элементом <code class="tag">&lt;img&gt;</code> вы также можете использовать атрибут
      <code class="attr-name">title</code> для сообщения дополнительной информации об изображении.
      Большинство браузеров отобразят содержимое этого атрибута в качестве всплывающей подсказки при
      наведении указателя мыши на изображение. <br />
      Атрибут <code class="attr-name">title</code> не является приемлемой заменой атрибута
      <code class="attr-name">alt</code>. Кроме того, избегайте повторения значения атрибута
      <code class="attr-name">alt</code> в атрибуте <code class="attr-name">title</code>, объявленном
      на том же изображении. <br />
      Атрибут <code class="attr-name">title</code> также не должен использоваться в качестве подписи,
      сопровождающей альтернативное описание изображения. Если изображению нужна подпись, используйте
      элемент <code class="tag">&lt;figure&gt;</code> вместе с элементом
      <code class="tag">&lt;figcaption&gt;</code>.
    </dd>
    <dt>
      <code class="attr-name">sizes</code>
    </dt>
    <dd>
      Список из одного или нескольких строк, разделённых запятыми, указывающих набор размеров источника.
      Каждый размер источника состоит из:
      <ol>
        <li>Условия медиа-запроса. Должно быть пропущено для последнего элемента.</li>
        <li>Значения размера источника.</li>
      </ol>
      Значения размера источника устанавливаются исходя из предполагаемых размеров изображения.
      Пользовательские агенты используют текущий размер источника, чтобы выбрать один из источников,
      предоставленных атрибутом <code class="attr-name">srcset</code>, если эти источники описываются
      с помощью дескриптора ширины <kbd>'w'</kbd> (сокращение от width). Выбранный размер источника
      влияет на внутренний размер изображения (отображаемый размер изображения, если не применены
      стили CSS). Если атрибут srcset отсутствует или не содержит значений с дескриптором
      <kbd>'w'</kbd>, то атрибут sizes не будет иметь никакого эффекта.
    </dd>
    <dt>
      <code class="attr-name">srcset</code>
    </dt>
    <dd>
      Список из одной или нескольких строк, разделённых запятыми, указывающих набор возможным
      источников изображения для использования пользовательскими агентами. Каждая строка состоит из:
      URL изображения и необязательного, пробела, сопровождаемого:
      <ul>
        <li>
          дескриптором ширины или положительным целым числом, за которым сразу же следует <kbd>'w'</kbd>.
          Дескриптор ширины делится на размер источника, полученный из атрибута <code class="attr-name">sizes</code>,
          для расчёта эффективной плотности пикселей;
        </li>
        <li>
          дескриптором плотности пикселей, который является положительным числом с плавающей точкой
          за которым сразу же следует <kbd>'x'</kbd>.Если не указано ни одного дескриптора, то
          источнику присваивается дескриптор по умолчанию: <kbd>1x</kbd>. Нельзя смешивать дескрипторы
          ширины с дескрипторами плотности пикселей в одном атрибуте <code class="attr-name">srcset</code>.
          Повторение дескрипторов (например, два источника в одном srcset с одинаковым дескриптором
          <kbd>'2x'</kbd>) так же является недопустимым.Пользовательские агенты выбирают любой из
          доступных источников на своё усмотрение. Это предоставляет им значительную свободу действий
          для адаптации их выбора на основе таких вещей, как предпочтения пользователя или пропускная
          способность.
        </li>
      </ul>
    </dd>
  </dl>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Поддерживаемые форматы изображений
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Стандарт HTML не содержит списка форматов изображений, которые должны поддерживаться.
    Поэтому разные пользовательские агенты поддерживают разные наборы форматов.
  </p>
  <h3>Firefox</h3>
  <p>
    Форматы изображений, поддерживаемые Firefox:
  </p>
  <ul>
    <li>JPEG</li>
    <li>GIF</li>
    <li>PNG</li>
    <li>SVG</li>
    <li>BMP</li>
    <li>BMP ICO</li>
    <li>PNG ICO</li>
  </ul>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Альтернативный текст</h3>
  <p>
    Следующий простой пример встраивает изображение с альтернативным текстом в страницу для улучшения доступности.
  </p>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
  <h3>Изображение-ссылка</h3>
  <p>
    Это очень просто сделать так — вы вставляете тег <code class="tag">&lt;img&gt;</code> внутрь
    элемента <code class="tag">&lt;a&gt;</code>. Также вы должны изменить альтернативный текст,
    чтобы он описывал назначение ссылки.
  </p>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
  <h3>Использование атрибута srcset</h3>
  <p>
    В этом примере мы добавляем атрибут <code class="attr-name">srcset</code>, содержащий ссылку на
    версию логотипа в высоком разрешении; оно будет загружено вместо изображения в
    <code class="attr-name">src</code> на устройствах с высоким разрешением. Изображение указанное в
    атрибуте <code class="attr-name">src</code>, считается <kbd>1x</kbd> кандидатом в пользовательских
    агентах, которые поддерживают <code class="attr-name">srcset</code>.
  </p>
  <app-code-example [InputValue]="codeExample1"></app-code-example>
  <h3>Использование атрибутов srcset и sizes</h3>
  <p>
    Атрибут <code class="attr-name">src</code> игнорируется в пользовательских агентах, которые
    поддерживают <code class="attr-name">srcset</code>, когда добавлены дескрипторы <kbd>'w'</kbd>.
    Когда условие медиавыражения <kbd>(max-width: 600px)</kbd> совпадает с состоянием устройства,
    будет загружено изображение шириной 200px (оно то самое, которое наиболее близко соответствует
    200px, указанным в медиавыражении), иначе будет загружено другое изображение.
  </p>
  <app-code-example [InputValue]="codeExample2"></app-code-example> 
</div>



