
<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Цитаты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;Ьlockquote&gt;</h3>

  <p>
    Элемент <code>&lt;blockquote&gt;</code> используется для отображения длинных цитат, занимающих
    целый абзац. Обратите внимание, что внутри элемента <code>&lt;Ьlockquote&gt;</code> необходимо
    использовать и элемент <code>&lt;p&gt;</code>. В большинстве своем браузеры склонны к
    выделению содержимого элемента <code>&lt;Ьlockquote&gt;</code> отступами, однако этот элемент не
    стоит использовать только лишь для того, чтобы создать фрагмент текста с отступом: лучше
    реализовать такое с помощью каскадных таблиц стилей (CSS).
  </p>

  <div class="code-mirror head1_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head1_1">
    <div class="label">Результат</div>
  </div>

  <h3>Элемент &lt;q&gt;</h3>

  <p>
    Элемент <code>&lt;q&gt;</code> принято использовать для более коротких цитат, помещающихся
    внутри абзаца текста. Изначально предполагалось, что браузеры будут заключать содержимое
    элемента <code>&lt;q&gt;</code> в кавычки, однако lnternet Explorer этого не делает, потому многие избегают
    использовать данный элемент. Для обоих элементов может быть указан атрибут <code class="attr-name">cite</code>, указывающий,
    с какого сайта позаимствована та или иная цитата. Значение этого атрибута - URL-aдpec
    сайта, содержащего более подробную информацию об источнике цитирования.
  </p>

  <div class="code-mirror head1_2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head1_2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Элемент &lt;abbr&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    При употреблении в тексте аббревиатуры следует воспользоваться
    тегом <code>&lt;abbr&gt;</code>. В открывающем теге можно использовать атрибут
    <code class="attr-name">title</code> для указания расшифровки сокращения.
  </p>

  <div class="code-mirror head2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Источники и определения
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;cite&gt;</h3>

  <p>
    Элемент <code>&lt;cite&gt;</code> может быть использован при оформлении ссылки на какой-то
    первоисточник, например на книгу, кинофильм или исследовательскую работу, для обозначения
    упоминаемого источника. В спецификации HTML5 не рекомендуется использовать элемент
    <code>&lt;cite&gt;</code> с именами персоналий, однако это вполне допускается в HTML4,
    потому, скорей всего, большинство веб-дизайнеров так и продолжат использовать данный
    элемент в этих целях. Браузеры отображают содержимое элемента <code>&lt;cite&gt;</code>
    шрифтом с курсивным начертанием.
  </p>

  <div class="code-mirror head3_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3_1">
    <div class="label">Результат</div>
  </div>

  <h3>Элемент &lt;dfn&gt;</h3>

  <p>
    Объяснение нового термина (научного концепта или профессионального жаргонизма) в тексте называется
    «определением». Элемент <code>&lt;dfn&gt;</code> используется для обозначения определения
    какого-либо нового термина. Некоторые браузеры отображают содержимое элемента
    <code>&lt;dfn&gt;</code> шрифтом с курсивным начертанием. Элемент <code>&lt;p&gt;</code>
    или <code>&lt;section&gt;</code>, который является ближайшим предком <code>&lt;dfn&gt;</code>
    считается определением термина.
  </p>

  <div class="code-mirror head3_2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3_2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Элемент &lt;address&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Элемент <code>&lt;address&gt;</code> имеет довольно специфическое назначение: он содержит
    контактные данные создателя веб-страницы. Он может (но не должен) содержать почтовый адрес,
    а также адрес электронной почты или номер телефона.
  </p>

  <p>
    Большинство браузеров отображают содержимое элемента <code>&lt;address&gt;</code>
    шрифтом с курсивным начертанием. Возможно, вас также заинтересует так называемый
    микроформат hCard, позволяющий добавлять на веб-страницу контактную информацию.
  </p>

  <div class="code-mirror head4">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head4">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Направление текста
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Элемент &lt;bdo&gt; и &lt;bdi&gt;</h3>

  <p>
    HTML-элемент переопределения двунаправленного текста <code>&lt;bdo&gt;</code> переопределяет
    текущее направление текста так, что текст внутри отображается в другом направлении.
  </p>

  <p>
    HTML-элемент <code>&lt;bdo&gt;</code> (bidirectional isolation, или изоляция двунаправленности
    текста) изолирует от окружающего текста текстовый фрагмент, направление в котором может
    отличаться от направления окружающего текста (но не обязательно отличается).
  </p>

  <div class="code-mirror head5_1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head5_1">
    <div class="label">Результат</div>
  </div>
</div>

