
<div>
  <p>
    HTML-элемент <code class="tag">&lt;video&gt;</code> встраивает в документ медиаплеер, поддерживающий
    воспроизведение видео. Вы также можете использовать <code class="tag">&lt;video&gt;</code> для
    аудиоконтента, но элемент <code class="tag">&lt;audio&gt;</code> может обеспечить более подходящее
    взаимодействие с пользователем.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
  <p>
    В приведенном выше примере показано простое использование элемента <code class="tag">&lt;video&gt;</code>.
    Подобно элементу <code class="tag">&lt;img&gt;</code>, мы включаем путь к медиафайлу, который хотим
    отобразить, внутри атрибута <code class="attr-name">src</code>, мы можем включить другие атрибуты,
    чтобы указать такую информацию, как ширина и высота видео, хотим ли мы, чтобы оно автоматически
    воспроизводилось и зацикливалось, хотим ли мы отображать элементы управления видео по умолчанию в
    браузере и т. д.
  </p>
  <p>
    Контент внутри открывающего и закрывающего тегов <code class="tag">&lt;video&gt;</code>
    <code class="tag">&lt;/video&gt;</code> отображается как запасной вариант в браузерах, не
    поддерживающих этот элемент.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">autoplay</code>
    </dt>
    <dd>
      Логический атрибут, если указано, видео автоматически начинает воспроизводиться, как только оно
      может это сделать, не останавливаясь для завершения загрузки данных. Чтобы удалить
      автовоспроизведение, атрибут нужно удалить вообще.
    </dd>
    <dt>
      <code class="attr-name">controls</code>
    </dt>
    <dd>
      Если этот атрибут присутствует, браузер предложит элементы управления, позволяющие пользователю
      управлять воспроизведением видео, включая громкость, поиск и паузу/возобновление воспроизведения.
    </dd>
    <dt>
      <code class="attr-name">height</code>
    </dt>
    <dd>
      Высота области отображения видео,
    </dd>
    <dt>
      <code class="attr-name">loop</code>
    </dt>
    <dd>
      Логический атрибут, если указано, браузер будет автоматически возвращаться к началу при
      достижении конца видео.
    </dd>
    <dt>
      <code class="attr-name">muted</code>
    </dt>
    <dd>
      Логический атрибут, указывающий настройку по умолчанию для звука, содержащегося в видео.
      Если установлено, звук изначально будет отключен.
    </dd>
    <dt>
      <code class="attr-name">poster</code>
    </dt>
    <dd>
      URL-адрес изображения, которое будет отображаться во время загрузки видео. Если этот атрибут не
      указан, ничего не отображается до тех пор, пока не станет доступным первый кадр, после чего
      первый кадр отображается как кадр постера.
    </dd>
    <dt>
      <code class="attr-name">preload</code>
    </dt>
    <dd>
      Этот перечисляемый атрибут предназначен для того, чтобы предоставить браузеру подсказку о том,
      что, по мнению автора, приведет к наилучшему взаимодействию с пользователем в отношении того,
      какой контент загружается перед воспроизведением видео.
    </dd>
    <dt>
      <code class="attr-name">src</code>
    </dt>
    <dd>
      URL-адрес видео для встраивания. Это необязательно, вместо этого вы можете использовать элемент
      <code class="tag">&lt;source&gt;</code> в блоке видео, чтобы указать видео для встраивания.
    </dd>
    <dt>
      <code class="attr-name">width</code>
    </dt>
    <dd>
      Ширина области отображения видео.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Рекомендации по использованию
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Не все браузеры поддерживают одни и те же форматы видео, вы можете указать несколько источников
    внутри вложенных элементов <code class="tag">&lt;source&gt;</code>, и тогда браузер будет
    использовать первый из них, который он понимает.
  </p>
  <app-code-example [InputValue]="codeExample1"></app-code-example>
  <p>Другие примечания по использованию:</p>
  <ul>
    <li>
      Если вы не укажете атрибут <code class="attr-name">controls</code>, видео не будет включать в
      себя элементы управления браузера по умолчанию, вы можете создавать собственные настраиваемые
      элементы управления с помощью <kbd>JavaScript</kbd> и API <kbd>HTMLMediaElement</kbd>.
    </li>
    <li>
      Чтобы обеспечить точный контроль над вашим видео (и аудио) содержимым, <kbd>HTMLMediaElements</kbd>
      запускает множество различных событий. Эти события не только обеспечивают управляемость, но и
      позволяют следить за ходом загрузки и воспроизведения мультимедиа, а также за состоянием и
      положением воспроизведения.
    </li>
    <li>
      Вы можете использовать свойство CSS <code class="css-prop">object-position</code>, чтобы настроить
      положение видео в кадре элемента, и свойство <code class="css-prop">object-fit</code>, чтобы
      управлять тем, как размер видео корректируется, чтобы соответствовать кадру.
    </li>
    <li>
      Чтобы показывать субтитры/заголовки вместе с вашим видео, вы можете использовать <kbd>JavaScript</kbd>
      вместе с элементом <code class="tag">&lt;track&gt;</code> и форматом <kbd>WebVTT</kbd>.
    </li>
    <li>
      Вы можете воспроизводить аудиофайлы с помощью элемента <code class="tag">&lt;video&gt;</code>.
      Это может быть полезно, если, например, вам нужно воспроизвести звук с расшифровкой <kbd>WebVTT</kbd>,
      так как элемент <code class="tag">&lt;audio&gt;</code> не разрешает субтитры с использованием <kbd>WebVTT</kbd>.
    </li>
    <li>
      Чтобы протестировать запасной контент в браузерах, поддерживающих этот элемент, вы можете заменить
      <code class="tag">&lt;video&gt;</code> несуществующим элементом, например <code class="tag">&lt;notavideo&gt;</code>.
    </li>
  </ul>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Проблемы доступности
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Видео должно содержать как титры, так и расшифровки, которые точно описывают его содержание
    (дополнительную информацию о том, как это реализовать, см. в разделе Добавление титров и субтитров
    к HTML-видео). Субтитры позволяют людям с потерей слуха понимать аудиоконтент видео во время его
    воспроизведения, а расшифровки позволяют людям, которым требуется дополнительное время,
    просматривать аудиоконтент в удобном для них темпе и формате.
  </p>
  <p>
    Стоит отметить, что, несмотря на то, что вы можете снабжать субтитрами только аудиофайлы, вы можете
    делать это только при воспроизведении аудио в элементе <code class="tag">&lt;video&gt;</code>, так
    как область видео элемента используется для представления субтитров. Это один из особых случаев,
    когда полезно воспроизводить звук в элементе видео.
  </p>
  <p>
    Если используются службы автоматического создания субтитров, важно проверить сгенерированный
    контент, чтобы убедиться, что он точно представляет исходное видео.
  </p>
  <p>
    В дополнение к разговорному диалогу субтитры и стенограммы также должны идентифицировать музыку и
    звуковые эффекты, которые передают важную информацию. Это включает в себя эмоции и тон.
  </p>
  <p>
    Субтитры не должны загораживать основной сюжет видео. Их можно расположить с помощью настройки метки
    align VTT.
  </p>
</div>

