<div>
  <p>
    HTML-элемент <code class="tag">&lt;button&gt;</code> — это интерактивный элемент, активируемый
    пользователем с помощью мыши, клавиатуры, пальца, голосовой команды или другой вспомогательной
    технологии. После активации он выполняет действие, например отправку формы или открытие диалогового
    окна.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">autofocus</code>
    </dt>
    <dd>
      Этот логический атрибут указывает, что кнопка должна иметь фокус ввода при загрузке страницы.
    </dd>
    <dt>
      <code class="attr-name">disable</code>
    </dt>
    <dd>
      Этот логический атрибут запрещает пользователю взаимодействовать с кнопкой: ее нельзя нажать или
      сфокусировать.
    </dd>
    <dt>
      <code class="attr-name">form</code>
    </dt>
    <dd>
      Элемент <code class="tag">&lt;form&gt;</code>, с которым нужно связать кнопку (ее владелец формы).
      Значение этого атрибута должно быть идентификатором <code class="tag">&lt;form&gt;</code> в том же
      документе. (Если этот атрибут не установлен, <code class="tag">&lt;button&gt;</code> связывается
      со своим предком-элементом <code class="tag">&lt;form&gt;</code>, если таковой имеется).<br />
      Этот атрибут позволяет связать элементы <code class="tag">&lt;button&gt;</code> с <code class="tag">&lt;form&gt;</code>
      в любом месте документа, а не только внутри <code class="tag">&lt;form&gt;</code>. Он также
      может переопределить элемент-предок <code class="tag">&lt;form&gt;</code>.
    </dd>
    <dt>
      <code class="attr-name">formaction</code>
    </dt>
    <dd>
      URL-адрес, который обрабатывает информацию, отправленную кнопкой. Переопределяет атрибут
      <code class="attr-name">action</code> владельца формы кнопки. Ничего не делает, если нет
      владельца формы.
    </dd>
    <dt>
      <code class="attr-name">formenctype</code>
    </dt>
    <dd>
      Если кнопка является кнопкой отправки (она находится внутри/связана с <code class="tag">&lt;form&gt;</code>
      и не имеет <code class="attr-name">type</code>=<code class="attr-value">'button'</code>), указывает, как кодировать
      отправляемые данные формы.<br /> Возможные значения:
      <ul>
        <li>
          <code class="attr-value">application/x-www-form-urlencoded</code>: Значение по умолчанию,
          если атрибут не используется.
        </li>
        <li>
          <code class="attr-value">multipart/form-data</code>: Используется для отправки элементов
          <code class="tag">&lt;input&gt;</code> с их атрибутами типа, установленными в файл.
        </li>
        <li>
          <code class="attr-value">text/plain</code>: Указано как средство отладки; не следует
          использовать для отправки реальной формы.
        </li>
      </ul>
    </dd>
    <dt>
      <code class="attr-name">formmethod</code>
    </dt>
    <dd>
      Если кнопка является кнопкой отправки (она находится внутри/связана с <code class="tag">&lt;form&gt;</code>
      и не имеет <code class="attr-name">type</code>=<code class="attr-value">'button'</code>), этот
      атрибут указывает метод HTTP, используемый для отправки формы.
      <ul>
        <li>
          <code class="attr-value">post</code>: Данные из формы включаются в тело HTTP-запроса при
          отправке на сервер. Используйте, когда форма содержит информацию, которая не должна быть
          общедоступной, например учетные данные для входа.
        </li>
        <li>
          <code class="attr-value">get</code>: Данные формы добавляются к URL-адресу действия формы с ?
          в качестве разделителя, и полученный URL-адрес отправляется на сервер. Используйте этот метод,
          когда форма не имеет побочных эффектов, таких как формы поиска.
        </li>
      </ul>
    </dd>
    <dt>
      <code class="attr-name">formnovalidate</code>
    </dt>
    <dd>
      Если кнопка представляет собой кнопку отправки, этот атрибут представляет собой определяемое
      автором имя или стандартизированное ключевое слово с префиксом подчеркивания, указывающее,
      где отображать ответ после отправки формы. Это имя или ключевое слово контекста просмотра
      (вкладки, окна или <code class="tag">&lt;iframe&gt;</code>). Если этот атрибут указан, он
      переопределяет целевой атрибут владельца формы кнопки.<br /> Возможные значения:
      <ul>
        <li>
          <code class="attr-value">_self</code>: Загрузите ответ в тот же контекст просмотра, что и
          текущий. Это значение по умолчанию, если атрибут не указан.
        </li>
        <li>
          <code class="attr-value">_blank</code>: Загрузите ответ в новый безымянный контекст просмотра
          — обычно это новая вкладка или окно, в зависимости от настроек браузера пользователя.
        </li>
        <li>
          <code class="attr-value">_parent</code>: Загрузите ответ в родительский контекст просмотра
          текущего. Если родителя нет, эта опция ведет себя так же, как <code class="attr-value">_self</code>.
        </li>
        <li>
          <code class="attr-value">_top</code>: Загрузите ответ в контекст просмотра верхнего уровня
          (то есть контекст просмотра, который является предком текущего и не имеет родителя). Если
          родителя нет, эта опция ведет себя так же, как <code class="attr-value">_self</code>.
        </li>
      </ul>
    </dd>
    <dt>
      <code class="attr-name">name</code>
    </dt>
    <dd>
      Имя кнопки, представленное как пара со значением кнопки как часть данных формы, когда эта кнопка
      используется для отправки формы.
    </dd>
    <dt>
      <code class="attr-name">type</code>
    </dt>
    <dd>
      Поведение кнопки по умолчанию.<br /> Возможные значения:
      <ul>
        <li>
          <code class="attr-value">submit</code>: Кнопка отправляет данные формы на сервер. Это значение
          по умолчанию, если атрибут не указан для кнопок, связанных с <code class="tag">&lt;form&gt;</code>,
          или если атрибут имеет пустое или недопустимое значение.
        </li>
        <li>
          <code class="attr-value">reset</code>: Кнопка сбрасывает все элементы управления к их
          первоначальным значениям.
        </li>
        <li>
          <code class="attr-value">button</code>: Кнопка не имеет поведения по умолчанию и ничего не
          делает при нажатии по умолчанию. У него могут быть сценарии на стороне клиента,
          прослушивающие события элемента, которые запускаются при возникновении событий.
        </li>
      </ul>
    </dd>
    <dt>
      <code class="attr-name">value</code>
    </dt>
    <dd>
      Определяет значение, связанное с именем кнопки, когда она отправляется с данными формы.
      Это значение передается на сервер в параметрах при отправке формы с помощью этой кнопки.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Рекомендации по использованию
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Кнопка отправки с установленным атрибутом formaction, но без связанной формы ничего не делает.
    Вы должны установить владельца формы, либо обернув его в <code class="attr-name">form</code>, либо
    установить для формы атрибута идентификатор формы.
  </p>
  <p>
    Элементы <code class="tag">&lt;button&gt;</code> гораздо проще стилизовать, чем элементы <code class="tag">&lt;input&gt;</code>.
    Вы можете добавить внутренний HTML-контент (например, <code class="tag">&lt;i&gt;</code>, <code class="tag">&lt;br&gt;</code>
    или даже <code class="tag">&lt;img&gt;</code>) и использовать псевдоэлементы <code class="css-selector">::after</code>
    и <code class="css-selector">::before</code> для сложного рендеринга.
  </p>
  <p>
    Если ваши кнопки не предназначены для отправки данных формы на сервер, обязательно установите для
    их атрибута <code class="attr-name">type</code> значение <code class="attr-value">button</code>.
    В противном случае они попытаются отправить данные формы и загрузить (несуществующий) ответ,
    возможно, уничтожив текущее состояние документа.
  </p>
  <p>
    Хотя <code class="tag">&lt;button&gt;</code> не имеет поведения по умолчанию, обработчики событий могут запускать
    поведение по сценарию. Активированная кнопка может выполнять программируемые действия с помощью
    JavaScript, например удаление элемента из списка.
  </p>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Оформление кнопки при помощи иконки</h3>
  <p>
    В данном примере мы помещаем внутрь кнопки иконку для визуального оформления.
    Тем не менее, стоит отметить, что визуальная видимость текста кнопки может помочь людям, которые
    могут не знать значение значка или не понимать назначение кнопки. Это особенно актуально для людей,
    которые не разбираются в технологиях или могут иметь разные культурные интерпретации значка,
    который использует кнопка.
  </p>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
  <h3>Создание кнопки с пользовательским поведением</h3>
  <p>
    В данном примере сделаем кнопку при нажатии на которую всплывает сообщение с приветствием.
  </p>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
</div>
