
<div>
  <p>
    Список определений создается с помощью элемента <code class="tag">&lt;dl&gt;</code> и, как правило, содержит
    набор понятий и их определений. Внутри элемента <code class="tag">&lt;dl&gt;</code> вы зачастую сможете увидеть пары элементов
    <code class="tag">&lt;dt&gt;</code> и <code class="tag">&lt;dd&gt;</code>.
  </p>

  <p>
    Элемент <code class="tag">&lt;dt&gt;</code> используется для обозначения понятия (термина).
  </p>
  <p>
    Элемент <code class="tag">&lt;dd&gt;</code> Используется для определения понятия. Иногда вы можете
    столкнуться со списками, в которых два понятия имеют одно определение или где  для одного понятия
    приводится несколько определений.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <h3>Множественные термины с одним определением</h3>
  <app-static-example [InputValue]="staticExample1"></app-static-example>

  <h3>Одиночный термин со множественными определениями</h3>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Оборачивание групп имя-значение в &lt;div&gt; элементы
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
        <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
      </svg>
  </h2>
  <p>
    HTML разрешает оборачивать каждую группу имя-значение в элементе <code class="tag">&lt;dl&gt;</code>
    в элемент <code class="tag">&lt;div&gt;</code>. Это может быть полезно, когда используются
    микроданные (en-US) или когда глобальные атрибуты применяются к целой группе, или для стилевых
    целей.
  </p>
  <app-static-example [InputValue]="staticExample3"></app-static-example>
</div>

<div data-custom="head4" style="margin-bottom: 450px;">
  <h2 class="head" id="head4">
    Проблемы доступности
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Каждый скринридер произносит содержимое элемента <code class="tag">&lt;dl&gt;</code> по-разному.
    Некоторые скринридеры, такие как VoiceOver на iOS, не будут озвучивать, что содержимое
    <code class="tag">&lt;dl&gt;</code> это список. В связи с этим, убедитесь, что содержимое каждого
    элемента списка написано таким образом, что оно сообщает о своём отношении с другими элементами
    списка в списке группы.
  </p>
</div>
