
<div>
  <p>
    Ссылки - определяющая черта Всемирной паутины, так как они позволяют перемещаться с одного
    сайта на другой, иными словами, путешествовать по Всемирной паутине.
  </p>

  <p>
    Чаще всего вы будете встречаться со ссылками следующих типов:
  </p>

  <ul>
    <li>ссылки с одного сайта на другой;</li>
    <li>ссылки с одной страницы сайта на другую страницу этого же сайта;</li>
    <li>ссылки с одной части страницы на другую часть этой же страницы;</li>
    <li>ссылки, открывающие новое окно браузера;</li>
    <li>
      ссылки, запускающие программу для отправки
      электронных писем, установленную на вашем компьютере,
      и тем самым позволяющие отправить письмо на
      определенный адрес электронной почты.
    </li>
  </ul>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    HTML-элемент <code class="tag">&lt;a&gt;</code> определяет гиперссылку для перехода на определённое место на странице или на
    другую страницу в Интернете. Также он может быть использован (в устаревшем варианте) для создания
    якоря — это место назначения для гиперссылок внутри страницы: так ссылки не ограничены только в
    перемещении между страницами.
  </p>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <!--<a  href="https://developer.mozilla.org">MDN</a>-->
  <dl>
    <dt><code class="attr-name">download</code></dt>
    <dd>
      Этот атрибут сообщает о том, что эта ссылка должна быть использована для скачивания файла,
      и, когда пользователь нажимает на ссылку, ему будет предложено сохранить файл как локальный.
      Если у этого атрибута есть значение, оно будет использовано как заполненное название файла в
      Окне сохранения, которое открывается, когда пользователь нажимает на ссылку (пользователь может
      поменять название перед сохранением файла). Ограничений на позволенные значения нет (хотя оно
      будет конвертировано в нижние подчёркивания, предотвращая специфичные пути), но стоит обратить
      внимание, что у большинства файловых систем есть ограничения на то, какие знаки препинания
      поддерживаются файловой системой, и браузеры регулируют названия согласно ограничениям.
    </dd>
    <app-static-example [InputValue]="staticExample1"></app-static-example>
    <dt><code class="attr-name">href</code></dt>
    <dd>
      Единственный обязательный атрибут для определения ссылки в HTML4, но больше необязательный в
      HTML5. Упущение этого атрибута создаёт ссылку-заполнитель. Атрибут href указывает ссылку: либо
      URL, либо якорь. Якорь — это название после символа <kbd>#</kbd>, который указывает на элемент (ID)
      на текущей странице. URL не ограничены только ссылками на HTTP, они могут использовать любой
      протокол, поддерживающийся браузером. Например, <kbd>tel</kbd> <kbd>file</kbd>, <kbd>ftp</kbd> и <kbd>mailto</kbd> работают в большинстве
      браузеров.
    </dd>
    <app-static-example [InputValue]="staticExample2"></app-static-example>
    <dt><code class="attr-name">target</code></dt>
    <dd>
      Этот атрибут определяет, где показать содержимое по ссылке. В HTML4, это название и
      ключевое слово фрейма. В HTML5, это название или ключевое слово в браузере
      (например, вкладка, окно или iframe). У следующих ключевых слов специальные значения:
      <ul>
        <li>
          <code class="attr-value">'_self'</code> загружает документ в текущем фрейме в HTML4
          (или текущей вкладке в HTML5) как текущий. Это значение по умолчанию, если не указано
          иное значение.
        </li>
        <li>
          <code class="attr-value">'_blank'</code> агружает документ в новой окне в HTML4 или
          вкладке в HTML5.
        </li>
        <li>
          <code class="attr-value">'_parent'</code> загружает документ в родительском фрейме в
          HTML4 или в родительской вкладке в HTML5. Если нет родителя, параметр будет вести
          себя как <code class="attr-value">'_self'</code>
        </li>
        <li>
          <code class="attr-value">'_top'</code> В HTML5 загружает в окне высшего уровня.
          Если родителя нет, опция ведёт себя как <code class="attr-value">'_self'</code>.Используйте этот атрибут только если
          указан href.
        </li>
      </ul>
    </dd>
    <dt><code class="attr-name">ping</code></dt>
    <dd>
      Этот атрибут уведомляет указанные в нём URL, что пользователь перешёл по ссылке.
    </dd>
    <dt><code class="attr-name">rel</code></dt>
    <dd>
      Для ссылок, которые содержат атрибут href, этот атрибут устанавливает отношения между
      ссылками. Значением является список значений, разделённый пробелами. Значения и их семантика
      будут зарегистрированы другими сайтами, которые могут иметь произвольное значение к документу
      автора. Значением по умолчанию является void, если не задано иное. Используйте этот тег,
      только если задан атрибут <code class="attr-name">href</code>.
    </dd>
    <dt><code class="attr-name">type</code></dt>
    <dd>
      Этот атрибут определяет MIME-тип для документа по ссылке. Обычно это используется как
      контрольная информация, но в будущем браузеры могут добавлять маленькую иконку для медиафайлов.
      Например, браузер может добавить маленькую иконку мегафона, если тип файла установлен как
      <kbd>audio/wav</kbd>. Используйте этот атрибут только если указан <code class="attr-name">href</code>.
    </dd>
  </dl>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Создание кликабельной картинки</h3>
  <app-static-example [InputValue]="staticExample4"></app-static-example>
  <h3>Создание ссылки с номером телефона</h3>
  <p>
    С телефонами, способными выходить в Интернет и ноутбуками, которые привязаны к телефонам,
    ссылки с номером телефона становятся всё больше и больше полезными.
  </p>
  <app-static-example [InputValue]="staticExample5"></app-static-example>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Абсолютный путь
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Когда в ссылке указывается только имя файла, браузер предполагает, что файл находится в той же
    папке, что и документ, содержащий гиперссылку. На практике веб-сайты содержат сотни документов,
    которые размещают в отдельные папки, чтобы ими было легче управлять. Чтобы создать ссылку на файл,
    находящийся вне папки, содержащей текущий документ, необходимо указать расположение файла или путь.
    HTML поддерживает два вида пути: абсолютный и относительный.
  </p>
  <p>
    Абсолютный путь указывает точное местоположение файла в пределах всей структуры папок на
    компьютере (сервере). Абсолютный путь к файлу даёт доступ к файлу со сторонних ресурсов и
    содержит следующие компоненты:
  </p>
  <ul>
    <li>протокол, например, http (опционально);</li>
    <li>домен (доменное имя или IP-адрес компьютера);</li>
    <li>папка (имя папки, указывающей путь к файлу);</li>
    <li>файл (имя файла).</li>
  </ul>
  <p>Существует два вида записи абсолютного пути — с указанием протокола (полный) и без него:</p>
  <app-static-example [CodeResultVisible]="false" [InputValue]="staticExample6"></app-static-example>
  <p>
    Когда вы ссылаетесь на страницу на другом сайте, вы можете использовать только
    полный абсолютный путь.
  </p>
  <p>Если файл находится в корневой папке, то путь к файлу будет следующим:</p>
  <app-static-example [CodeResultVisible]="false" [InputValue]="staticExample7"></app-static-example>
  <p>
    При отсутствии имени файла будет загружаться веб-страница, которая задана по умолчанию в
    настройках веб-сервера (так называемый индексный файл).
  </p>
  <app-static-example [CodeResultVisible]="false" [InputValue]="staticExample8"></app-static-example>
  <p>
    Обычно в качестве индексного файла выступает документ с именем <kbd>index.html</kbd>. Наличие
    завершающего слеша <kbd>/</kbd> означает, что обращение идет к папке, если его нет — напрямую к файлу.
  </p>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Относительный путь
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Относительный путь описывает путь к указанному документу относительно текущего. Путь определяется
    с учётом местоположения веб-страницы, на которой находится ссылка. Относительные ссылки
    используются при создании ссылок на другие документы на одном и том же сайте. Когда браузер не
    находит в ссылке протокол <kbd>http://</kbd>, он выполняет поиск указанного документа на том же
    сервере.
  </p>
  <p>
    Относительный путь содержит следующие компоненты:
  </p>
  <ul>
    <li>папка (имя папки, указывающей путь к файлу);</li>
    <li>файл (имя файла).</li>
  </ul>
  <p>
    Путь для относительных ссылок имеет три специальных обозначения:
  </p>
  <ul>
    <li><kbd>/</kbd> указывает на корневую директорию и говорит о том, что нужно начать путь от корневого каталога
    документов и идти вниз до следующей папки</li>
    <li><kbd>./</kbd> указывает на текущую папку</li>
    <li><kbd>../</kbd> одняться на одну папку (директорию) выше</li>
  </ul>
  <app-static-example [InputValue]="staticExample9"></app-static-example>
</div>


