
<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Элемент &lt;kbd&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    HTML-элемент ввода с клавиатуры (<code>&lt;kbd&gt;</code>) указывает на то, что текст внутри элемента описывает
    пользовательский ввод с клавиатуры, голосовой ввод или ввод с использованием любого другого
    типа устройств ввода текста. По общему соглашению, <b>user agent</b> (браузер) использует моноширинный шрифт
    для отображения содержимого элемента <code>&lt;kbd&gt;</code> по умолчанию, хотя это и не указывается HTML
    стандартом явно.
  </p>

  <div class="code-mirror head1">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head1">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Элемент &lt;code&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Элемент HTML <code>&lt;code&gt;</code> отображает его содержимое в стиле, предназначенном
    для указания на то, что текст является коротким фрагментом компьютерногокода. По умолчанию
    текст содержимого отображается с использованием шрифта монопространства по умолчанию браузера.
  </p>

  <div class="code-mirror head2">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head2">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Элемент &lt;samp&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Элемент HTML <code>&lt;samp&gt;</code> применяется для выделения результата, полученного
    в ходе выполнения программы. Его содержимое обычно отображается с использованием моноширинного
    шрифта браузера по умолчанию (например, Courier или Lucida Console).
  </p>

  <div class="code-mirror head3">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head3">
    <div class="label">Результат</div>
  </div>
</div>

<div data-custom="head4" style="margin-bottom: 210px;">
  <h2 class="head" id="head4">
    Элемент &lt;var&gt;
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Элемент HTML <code>&lt;var&gt;</code> представляет имя переменной в математическом выражении
    или в контексте программирования. Обычно он представлен с использованием версии текущего шрифта,
    выделенной курсивом, хотя такое поведение зависит от браузера.
  </p>

  <div class="code-mirror head4">
    <div class="label">Разметка</div>
  </div>

  <div class="code-result head4">
    <div class="label">Результат</div>
  </div>
</div>
