
<p>В разделе <kbd>&lt;body&gt;</kbd> располагается все содержимое документа.</p>
<h2 class="head" data-custom="head1">Атрибуты для &lt;body&gt;</h2>
<p>Для элемента доступны атрибуты, приведенные в таблице ниже, а также глобальные атрибуты.</p>

<table>
  <thead>
    <tr>
      <th>Атрибут</th>
      <th>Описание, принимаемое значение</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>onafterprint</td>
      <td>
        Событие, срабатывающее после отправки страницы на печать или после закрытия окна печати.
      </td>
    </tr>
    <tr>
      <td>onbeforeprint</td>
      <td>
        Событие, срабатывающее перед отправкой страницы на печать.
      </td>
    </tr>
    <tr>
      <td>onbeforeunload</td>
      <td>
        Событие срабатывает, когда посетитель инициировал переход на другую страницу или
        нажал «закрыть окно». Позволяет отображать сообщение в диалоговом окне подтверждения,
        чтобы сообщить пользователю, хочет ли он остаться или покинуть текущую страницу.
      </td>
    </tr>
    <tr>
      <td>onhashchange</td>
      <td>
        Событие срабатывает, когда меняется hash-часть URL, например, когда пользователь перейдет
        с адреса <kbd>example.domain/test.aspx#page1</kbd> на <kbd>example.domain/test.aspx#page2</kbd>.
      </td>
    </tr>
    <tr>
      <td>onmessage</td>
      <td>
        Событие происходит, когда сообщение получено через источник события.
      </td>
    </tr>
    <tr>
      <td>onoffline</td>
      <td>
        Событие вызывается браузером в том случае, когда браузер определит, что соединение с интернет пропало.
      </td>
    </tr>
    <tr>
      <td>ononline</td>
      <td>
        Событие вызывается браузером в том случае, когда соединение с интернет возобновилось.
      </td>
    </tr>
    <tr>
      <td>onpagehide</td>
      <td>
        Событие происходит, когда пользователь покидает страницу посредством навигации, например, нажав на ссылку, обновив страницу, заполнив форму и т.д.
      </td>
    </tr>
    <tr>
      <td>onpageshow</td>
      <td>
        Событие происходит, когда пользователь переходит на веб-страницу, после события onload.
      </td>
    </tr>
    <tr>
      <td>onunload</td>
      <td>
        Событие срабатывает если страница не загрузилась по каким-либо причинам, либо при закрытии окна браузера.
      </td>
    </tr>
  </tbody>
</table>
