<main class="home-page">
  <div class="frontpage-banner">
    <div class="fronpage-banner_info content">
      <h1>Современный учебник для освоения передовых<br /> технологий по разработке веб-приложений</h1>
      <p>
        Перед вами учебник по HTML, CSS начиная с основ,
        включающий в себя много тонкостей и фишек.
      </p>
    </div>
    <div class="fronpage-banner_sub content">
      <h2>Содержание</h2>
      <p>
        В первой части мы изучим как создавать разметку для наший веб-страниц. <br />
        Вторая часть отвечает за визуальное оформление. 
      </p>
    </div>
  </div>
  <div class="frontpage-content">
    <div class="tabs">
      <nav class="tabs_menu">
        <div id="tabs_menu-inner" class="tabs_menu-inner content">
          <a href="#part-1" class="menu_elem">
            <span class="elem_title">Часть 1</span>
            <span class="elem_subtitle">Разметка HTML</span>
          </a>
          <a href="#part-2" class="menu_elem">
            <span class="elem_title">Часть 2</span>
            <span class="elem_subtitle">Стили CSS</span>
          </a>
          <!--<a href="#part-3" class="menu_elem">
            <span class="elem_title">Часть 3</span>
            <span class="elem_subtitle">Язык JavaScript</span>
          </a>-->
        </div>
      </nav>
      <div class="tabs_content" data-bs-spy="scroll" data-bs-target="#tabs_menu-inner">
        <div id="part-1" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Разметка HTML</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобранны все составляющие элементы веб-страницы т.е разметка.
              </p>
              <p>Мы рассмотрим все основные и актуальные теги стандарта HTML5</p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <a class="subsection_name" href="/part-1">Основы HTML</a>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-basic">
                      Структура HTML-документа
                    </a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Текст</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-headlines">Заголовки</a>
                  </li>
                  <li>
                    <a href="/subsection/html-formatting">Элементы для форматирования текста</a>
                  </li>
                  <li>
                    <a href="/subsection/html-compText">Элементы для ввода «компьютерного» текста</a>
                  </li>
                  <li>
                    <a href="/subsection/html-cite">Элементы для оформления цитат и определений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Списки</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-ordered-list">Нумерованный список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-unordered-list">Маркерованный список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-list-of-definitions">Список определений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Ссылки</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-hyperlinks">Гиперссылки</a>
                  </li>
                  <li>
                    <a href="/subsection/html-link">Ссылки на внешние ресурсы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Изображения</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-add-img">Добавление изображений</a>
                  </li>
                  <li>
                    <a href="/subsection/html-figure">Иллюстрации и подписи</a>
                  </li>
                  <li>
                    <a href="/subsection/html-image-map">Карта изображений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Таблицы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-table-create">Создание таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-section">Группировка разделов таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-row">Группирование строк и столбцов таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-data-span">Объединение ячеек таблицы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Формы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-form-input">Ввод данных</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-textarea">Текстовая область</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-button">Управление формой</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-select">Раскрывающийся список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-datalist">Список параметров</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-meter">Измеритель</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-fieldset">Группировка элементов формы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Мультимедиа и встраивание</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-multimedia-video">Видео</a>
                  </li>
                  <li>
                    <a href="/subsection/html-multimedia-audio">Аудио</a>
                  </li>
                  <li>
                    <a href="/subsection/html-multimedia-iframe">Внедрение</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id="part-2" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Стили CSS</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобраны способы оформления веб-страниц.
              </p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Основы CSS</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/css-basics">Введение в CSS</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Селекторы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/type-selectors">Виды селекторов</a>
                  </li>
                  <li>
                    <a href="/subsection/group-selector">Комбинация и группировка селекторов</a>
                  </li>
                  <li>
                    <a href="/subsection/inheritance">Каскад и наследование</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Текст</h3>
                </div>
                <ol class="list_sub">
                  <li>                    
                    <a href="/subsection/font-prop">Свойства шрифтов</a>
                  </li>
                  <li>
                    <a href="/subsection/text-decor">Оформление текста</a>
                  </li>
                  <li>
                    <a href="/subsection/text-align">Отступы и выравнивание</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Оформление списков и таблиц</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/decor-lists">Стили для списков</a>
                  </li>
                  <li>
                    <a href="/subsection/decor-table">Стили для таблиц</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Цвет и фон</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/color-format">Использование различных форматов цветов</a>
                  </li>
                  <li>
                    <a href="/subsection/background">Оформление фона</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Блочная модель</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/block-size">Управление размером блоков</a>
                  </li>
                  <li>
                    <a href="/subsection/padding-margins">Поля и отступы</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
