<main class="home-page">
  <div class="frontpage-banner">
    <div class="fronpage-banner_info content">
      <h1>Современный учебник для освоения передовых<br /> технологий по разработке веб-приложений</h1>
      <p>
        Перед вами учебник по HTML, CSS и JavaScript, начиная с основ,
        включающий в себя<br /> много тонкостей и фишек JavaScript/DOM.
      </p>
    </div>
    <div class="fronpage-banner_sub content">
      <h2>Содержание</h2>
      <p>
        В первой части мы изучим как создавать разметку для наший веб-страниц. <br />
        Вторая часть отвечает за визуальное оформление. В третьей части мы разберем <br />
        JavaScript и его использованию в браузере.
      </p>
    </div>
  </div>
  <div class="frontpage-content">
    <div class="tabs">
      <nav class="tabs_menu">
        <div id="tabs_menu-inner" class="tabs_menu-inner content">
          <a href="#part-1" class="menu_elem">
            <span class="elem_title">Часть 1</span>
            <span class="elem_subtitle">Разметка HTML</span>
          </a>
          <a href="#part-2" class="menu_elem">
            <span class="elem_title">Часть 2</span>
            <span class="elem_subtitle">Стили CSS</span>
          </a>
          <a href="#part-3" class="menu_elem">
            <span class="elem_title">Часть 3</span>
            <span class="elem_subtitle">Язык JavaScript</span>
          </a>
        </div>
      </nav>
      <div class="tabs_content" data-bs-spy="scroll" data-bs-target="#tabs_menu-inner">
        <div id="part-1" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Разметка HTML</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобранны все составляющие элементы веб-страницы т.е разметка.
              </p>
              <p>Мы рассмотрим все основные и актуальные теги стандарта HTML5</p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <a class="subsection_name" href="/part-1">Основы HTML</a>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-basic">
                      Структура HTML-документа
                    </a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>HTML-текст</h3>
                </div>
                <ol class="list_sub">
                  <li>Элементы для заголовков</li>
                  <li>Абзацы, средства переноса текста</li>
                  <li>Элементы для форматирования текста</li>
                  <li>Элементы для ввода «компьютерного» текста</li>
                  <li>Элементы для оформления цитат и определений</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>HTML-ссылки</h3>
                </div>
                <ol class="list_sub">
                  <li>Структура ссылки</li>
                  <li>Абсолютный и относительный путь</li>
                  <li>Якорь</li>
                  <li>Атрибуты ссылок</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>HTML-изображения</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;img&gt;</li>
                  <li>Адрес изображения</li>
                  <li>Размеры изображения</li>
                  <li>Форматы графических файлов</li>
                  <li>Элемент &lt;map&gt;</li>
                  <li>Элемент &lt;area&gt;</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>HTML-таблицы</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;table&gt;</li>
                  <li>Элемент &lt;caption&gt;</li>
                  <li>Элемент &lt;colgroup&gt;</li>
                  <li>Элемент &lt;col&gt;</li>
                  <li>Элемент &lt;thead&gt;</li>
                  <li>Элемент &lt;tbody&gt;</li>
                  <li>Элемент &lt;tfoot&gt;</li>
                  <li>Элемент &lt;tr&gt;</li>
                  <li>Элемент &lt;td&gt;</li>
                  <li>Элемент &lt;th&gt;</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>HTML-списки</h3>
                </div>
                <ol class="list_sub">
                  <li>Маркированный список &lt;ul&gt;</li>
                  <li>Нумерованный список &lt;ol&gt;</li>
                  <li>Список определений &lt;dl&gt;</li>
                  <li>Вложенный список</li>
                  <li>Многоуровневый нумерованный список</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Разделы документа</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;article&gt;</li>
                  <li>Элемент &lt;section&gt;</li>
                  <li>Элемент &lt;nav&gt;</li>
                  <li>Элемент &lt;aside&gt;</li>
                  <li>Элемент &lt;header&gt;</li>
                  <li>Элемент &lt;footer&gt;</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Семантика уровня текста</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;a&gt;</li>
                  <li>Элемент &lt;em&gt;</li>
                  <li>Элемент &lt;strong&gt;</li>
                  <li>Элемент &lt;small&gt;</li>
                  <li>Элемент &lt;s&gt;</li>
                  <li>Элемент &lt;cite&gt;</li>
                  <li>Элемент &lt;q&gt;</li>
                  <li>Элемент &lt;dfn&gt;</li>
                  <li>Элемент &lt;abbr&gt;</li>
                  <li>Элемент &lt;ruby&gt;</li>
                  <li>Элемент &lt;rb&gt;</li>
                  <li>Элемент &lt;rt&gt;</li>
                  <li>Элемент &lt;rtc&gt;</li>
                  <li>Элемент &lt;rp&gt;</li>
                  <li>Элемент &lt;data&gt;</li>
                  <li>Элемент &lt;time&gt;</li>
                  <li>Элемент &lt;code&gt;</li>
                  <li>Элемент &lt;var&gt;</li>
                  <li>Элемент &lt;samp&gt;</li>
                  <li>Элемент &lt;kbd&gt;</li>
                  <li>Элементы &lt;sub&gt; и &lt;sup&gt;</li>
                  <li>Элемент &lt;i&gt;</li>
                  <li>Элемент &lt;b&gt;</li>
                  <li>Элемент &lt;u&gt;</li>
                  <li>Элемент &lt;mark&gt;</li>
                  <li>Элемент &lt;bdi&gt;</li>
                  <li>Элемент &lt;bdo&gt;</li>
                  <li>Элемент &lt;span&gt;</li>
                  <li>Элемент &lt;br&gt;</li>
                  <li>Элемент &lt;wbr&gt;</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Встраиваемое содержимое</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;picture&gt;</li>
                  <li>Элемент &lt;source&gt;</li>
                  <li>Элемент &lt;iframe&gt;</li>
                  <li>Элемент &lt;embed&gt;</li>
                  <li>Элемент &lt;object&gt;</li>
                  <li>Элемент &lt;param&gt;</li>
                  <li>Элемент &lt;video&gt;</li>
                  <li>Элемент &lt;audio&gt;</li>
                  <li>Элемент &lt;track&gt;</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Формы</h3>
                </div>
                <ol class="list_sub">
                  <li>Элемент &lt;form&gt;</li>
                  <li>Элемент &lt;lable&gt;</li>
                  <li>Элемент &lt;input&gt;</li>
                  <li>Элемент &lt;button&gt;</li>
                  <li>Элемент &lt;select&gt;</li>
                  <li>Элемент &lt;datalist&gt;</li>
                  <li>Элемент &lt;optgroup&gt;</li>
                  <li>Элемент &lt;option&gt;</li>
                  <li>Элемент &lt;textarea&gt;</li>
                  <li>Элемент &lt;output&gt;</li>
                  <li>Элемент &lt;progress&gt;</li>
                  <li>Элемент &lt;meter&gt;</li>
                  <li>Элемент &lt;fieldset&gt;</li>
                  <li>Элемент &lt;legend&gt;</li>
                  <li>Атрибут autocomplete</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id="part-2" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Стили CSS</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобраны способы оформления веб-страниц.
              </p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Основы CSS</h3>
                </div>
                <ol class="list_sub">
                  <li>Виды таблиц стилей</li>
                  <li>Виды селекторов</li>
                  <li>Комбинация селекторов</li>
                  <li>Группировка селекторов</li>
                  <li>Наследование и каскад</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Блочные и строчные элементы</h3>
                </div>
                <ol class="list_sub">
                  <li>Модель визуального форматирования</li>
                  <li>Определение термина «содержащий блок»</li>
                  <li>Блочные элементы и блочные контейнеры</li>
                  <li>Строчные элементы и строчные контейнеры</li>
                  <li>Строчно-блочные элементы</li>
                  <li>Ширина содержимого: свойство width</li>
                  <li>Минимальная и максимальная ширина</li>
                  <li>Высота содержимого</li>
                  <li>Минимальная и максимальная высота</li>
                  <li>Расчет высоты строки</li>
                  <li>Изменение блочной модели</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-позиционирование</h3>
                </div>
                <ol class="list_sub">
                  <li>Содержащий блок</li>
                  <li>Выбор схемы позиционирования: свойство position</li>
                  <li>Смещение блока: свойства top, right, bottom, left</li>
                  <li>Обтекание: свойство float</li>
                  <li>Управление потоком рядом с плавающими элементами: свойство clear</li>
                  <li>Определение контекста наложения: свойство z-index</li>
                  <li>Контекст наложения</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-текст</h3>
                </div>
                <ol class="list_sub">
                  <li>Преобразование текста: свойство text-transform</li>
                  <li>Обработка пробелов и переносы строк: свойство white-space</li>
                  <li>Настройка табуляции: свойство tab-size</li>
                  <li>Правила разрыва для букв: свойство word-break</li>
                  <li>Разрыв строки: свойство line-break</li>
                  <li>Расстановка переносов: свойство hyphens</li>
                  <li>Переполнение блока-обертки: свойство overflow-wrap/word-wrap</li>
                  <li>Выравнивание текста: свойство text-align</li>
                  <li>Выравнивание текста по умолчанию: свойство text-align-all</li>
                  <li>Выравнивание последней строки: свойство text-align-last</li>
                  <li>Промежутки между словами: свойство word-spacing</li>
                  <li>Трекинг: свойство letter-spacing</li>
                  <li>Отступ первой строки: свойство text-indent</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-шрифты</h3>
                </div>
                <ol class="list_sub">
                  <li>Семейство шрифтов: свойство font-family</li>
                  <li>Насыщенность шрифта: свойство font-weight</li>
                  <li>Ширина шрифта: свойство font-stretch</li>
                  <li>Начертание шрифта: свойство font-style</li>
                  <li>Размер шрифта: свойство font-size</li>
                  <li>Относительный размер шрифта: свойство font-size-adjust</li>
                  <li>Сокращенная запись свойств шрифта: свойство font</li>
                  <li>Управление синтезом шрифтов: свойство font-synthesis</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-списки</h3>
                </div>
                <ol class="list_sub">
                  <li>Тип маркера списка list-style-type</li>
                  <li>Изображения для элементов списка list-style-image</li>
                  <li>Местоположение маркера списка list-style-position</li>
                  <li>Краткая форма задания стилей списка list-style</li>
                  <li>Примеры красивого оформления списков</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id="part-3" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Язык JavaScript</h2>
            <div class="tabs_description">
              <p>
                Здесь вы можете изучить JavaScript, начиная с нуля и
                заканчивая продвинутыми концепциями вроде ООП.
              </p>
              <p>Мы сосредоточимся на самом языке, изредка добавляя заметки о средах его исполнения.</p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Введение</h3>
                </div>
                <ol class="list_sub">
                  <li>Введение в JavaScript</li>
                  <li>Справочники и спецификации</li>
                  <li>Редакторы кода</li>
                  <li>Консоль разработчика</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Основы JavaScript</h3>
                </div>
                <ol class="list_sub">
                  <li>Привет, мир!</li>
                  <li>Структура кода</li>
                  <li>Строгий режим — "use strict"</li>
                  <li>Переменные</li>
                  <li>Типы данных</li>
                  <li>Взаимодействие: alert, prompt, confirm</li>
                  <li>Преобразование типов</li>
                  <li>Базовые операторы, математика</li>
                  <li>Операторы сравнения</li>
                  <li>Условное ветвление: if, '?'</li>
                  <li>Логические операторы</li>
                  <li>Оператор нулевого слияния (??)</li>
                  <li>Циклы while и for</li>
                  <li>Конструкция "switch"</li>
                  <li>Функции</li>
                  <li>Function Expression</li>
                  <li>Стрелочные функции, основы</li>
                  <li>Особенности JavaScript</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Качество кода</h3>
                </div>
                <ol class="list_sub">
                  <li>Отладка в браузере</li>
                  <li>Советы по стилю кода</li>
                  <li>Комментарии</li>
                  <li>Ниндзя-код</li>
                  <li>Автоматическое тестирование c использованием фреймворка Mocha</li>
                  <li>Полифилы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Объекты: основы</h3>
                </div>
                <ol class="list_sub">
                  <li>Объекты</li>
                  <li>Копирование объектов и ссылки</li>
                  <li>Сборка мусора</li>
                  <li>Методы объекта, "this"</li>
                  <li>Конструкторы, создание объектов через "new"</li>
                  <li>Опциональная цепочка '?.'</li>
                  <li>Тип данных Symbol</li>
                  <li>Преобразование объектов в примитивы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Типы данных</h3>
                </div>
                <ol class="list_sub">
                  <li>Методы примитивов</li>
                  <li>Числа</li>
                  <li>Строки</li>
                  <li>Массивы</li>
                  <li>Методы массивов</li>
                  <li>Перебираемые объекты</li>
                  <li>Map и Set</li>
                  <li>WeakMap и WeakSet</li>
                  <li>Object.keys, values, entries</li>
                  <li>Деструктурирующее присваивание</li>
                  <li>Дата и время</li>
                  <li>Формат JSON, метод toJSON</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Продвинутая работа с функциями</h3>
                </div>
                <ol class="list_sub">
                  <li>Рекурсия и стек</li>
                  <li>Остаточные параметры и оператор расширения</li>
                  <li>Замыкание</li>
                  <li>Устаревшее ключевое слово "var"</li>
                  <li>Глобальный объект</li>
                  <li>Объект функции, NFE</li>
                  <li>Синтаксис "new Function"</li>
                  <li>Планирование: setTimeout и setInterval</li>
                  <li>Декораторы и переадресация вызова, call/apply</li>
                  <li>Привязка контекста к функции</li>
                  <li>Повторяем стрелочные функции</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Свойства объекта, их конфигурация</h3>
                </div>
                <ol class="list_sub">
                  <li>Флаги и дескрипторы свойств</li>
                  <li>Свойства - геттеры и сеттеры</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Прототипы, наследование</h3>
                </div>
                <ol class="list_sub">
                  <li>Прототипное наследование</li>
                  <li>F.prototype</li>
                  <li>Встроенные прототипы</li>
                  <li>Методы прототипов, объекты без свойства __proto__</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Классы</h3>
                </div>
                <ol class="list_sub">
                  <li>Класс: базовый синтаксис</li>
                  <li>Наследование классов</li>
                  <li>Статические свойства и методы</li>
                  <li>Приватные и защищённые методы и свойства</li>
                  <li>Расширение встроенных классов</li>
                  <li>Проверка класса: "instanceof"</li>
                  <li>Примеси</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Обработка ошибок</h3>
                </div>
                <ol class="list_sub">
                  <li>Обработка ошибок, "try..catch"</li>
                  <li>Пользовательские ошибки, расширение Error</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Промисы, async/await</h3>
                </div>
                <ol class="list_sub">
                  <li>Введение: колбэки</li>
                  <li>Промисы</li>
                  <li>Цепочка промисов</li>
                  <li>Промисы: обработка ошибок</li>
                  <li>Promise API</li>
                  <li>Промисификация</li>
                  <li>Микрозадачи</li>
                  <li>Async/await</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Генераторы, продвинутая итерация</h3>
                </div>
                <ol class="list_sub">
                  <li>Генераторы</li>
                  <li>Асинхронные итераторы и генераторы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Модули</h3>
                </div>
                <ol class="list_sub">
                  <li>Модули, введение</li>
                  <li>Экспорт и импорт</li>
                  <li>Динамические импорты</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Разное</h3>
                </div>
                <ol class="list_sub">
                  <li>Proxy и Reflect</li>
                  <li>Eval: выполнение строки кода</li>
                  <li>Каррирование</li>
                  <li>Побитовые операторы</li>
                  <li>BigInt</li>
                  <li>Intl: интернационализация в JavaScript</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
