<main class="home-page">
  <div class="frontpage-banner">
    <div class="fronpage-banner_info content">
      <h1>Современный учебник для освоения передовых<br /> технологий по разработке веб-приложений</h1>
      <p>
        Перед вами учебник по HTML, CSS и JavaScript, начиная с основ,
        включающий в себя<br /> много тонкостей и фишек JavaScript/DOM.
      </p>
    </div>
    <div class="fronpage-banner_sub content">
      <h2>Содержание</h2>
      <p>
        В первой части мы изучим как создавать разметку для наший веб-страниц. <br />
        Вторая часть отвечает за визуальное оформление. В третьей части мы разберем <br />
        JavaScript и его использованию в браузере.
      </p>
    </div>
  </div>
  <div class="frontpage-content">
    <div class="tabs">
      <nav class="tabs_menu">
        <div id="tabs_menu-inner" class="tabs_menu-inner content">
          <a href="#part-1" class="menu_elem">
            <span class="elem_title">Часть 1</span>
            <span class="elem_subtitle">Разметка HTML</span>
          </a>
          <a href="#part-2" class="menu_elem">
            <span class="elem_title">Часть 2</span>
            <span class="elem_subtitle">Стили CSS</span>
          </a>
          <a href="#part-3" class="menu_elem">
            <span class="elem_title">Часть 3</span>
            <span class="elem_subtitle">Язык JavaScript</span>
          </a>
        </div>
      </nav>
      <div class="tabs_content" data-bs-spy="scroll" data-bs-target="#tabs_menu-inner">
        <div id="part-1" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Разметка HTML</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобранны все составляющие элементы веб-страницы т.е разметка.
              </p>
              <p>Мы рассмотрим все основные и актуальные теги стандарта HTML5</p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <a class="subsection_name" href="/part-1">Основы HTML</a>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-basic">
                      Структура HTML-документа
                    </a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Текст</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-headlines">Заголовки</a>
                  </li>
                  <li>
                    <a href="/subsection/html-formatting">Элементы для форматирования текста</a>
                  </li>
                  <li>
                    <a href="/subsection/html-compText">Элементы для ввода «компьютерного» текста</a>
                  </li>
                  <li>
                    <a href="/subsection/html-cite">Элементы для оформления цитат и определений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Списки</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-ordered-list">Нумерованный список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-unordered-list">Маркерованный список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-list-of-definitions">Список определений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Ссылки</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-hyperlinks">Гиперссылки</a>
                  </li>
                  <li>
                    <a href="/subsection/html-link">Ссылки на внешние ресурсы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Изображения</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-add-img">Добавление изображений</a>
                  </li>
                  <li>
                    <a href="/subsection/html-figure">Иллюстрации и подписи</a>
                  </li>
                  <li>
                    <a href="/subsection/html-image-map">Карта изображений</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Таблицы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-table-create">Создание таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-section">Группировка разделов таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-row">Группирование строк и столбцов таблицы</a>
                  </li>
                  <li>
                    <a href="/subsection/html-table-data-span">Объединение ячеек таблицы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Формы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-form-input">Ввод данных</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-textarea">Текстовая область</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-button">Управление формой</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-select">Раскрывающийся список</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-datalist">Список параметров</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-meter">Измеритель</a>
                  </li>
                  <li>
                    <a href="/subsection/html-form-fieldset">Группировка элементов формы</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Мультимедиа и встраивание</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/html-multimedia-video">Видео</a>
                  </li>
                  <li>
                    <a href="/subsection/html-multimedia-audio">Аудио</a>
                  </li>
                  <li>
                    <a href="/subsection/html-multimedia-iframe">Внедрение</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id="part-2" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Стили CSS</h2>
            <div class="tabs_description">
              <p>
                В данном разделе будут разобраны способы оформления веб-страниц.
              </p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Основы CSS</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/css-basics">Введение в CSS</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Селекторы</h3>
                </div>
                <ol class="list_sub">
                  <li>
                    <a href="/subsection/type-selectors">Виды селекторов</a>
                  </li>
                  <li>
                    <a href="/subsection/group-selector">Комбинация и группировка селекторов</a>
                  </li>
                  <li>
                    <a href="/subsection/inheritance">Каскад и наследование</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-позиционирование</h3>
                </div>
                <ol class="list_sub">
                  <li>Содержащий блок</li>
                  <li>Выбор схемы позиционирования: свойство position</li>
                  <li>Смещение блока: свойства top, right, bottom, left</li>
                  <li>Обтекание: свойство float</li>
                  <li>Управление потоком рядом с плавающими элементами: свойство clear</li>
                  <li>Определение контекста наложения: свойство z-index</li>
                  <li>Контекст наложения</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-текст</h3>
                </div>
                <ol class="list_sub">
                  <li>Преобразование текста: свойство text-transform</li>
                  <li>Обработка пробелов и переносы строк: свойство white-space</li>
                  <li>Настройка табуляции: свойство tab-size</li>
                  <li>Правила разрыва для букв: свойство word-break</li>
                  <li>Разрыв строки: свойство line-break</li>
                  <li>Расстановка переносов: свойство hyphens</li>
                  <li>Переполнение блока-обертки: свойство overflow-wrap/word-wrap</li>
                  <li>Выравнивание текста: свойство text-align</li>
                  <li>Выравнивание текста по умолчанию: свойство text-align-all</li>
                  <li>Выравнивание последней строки: свойство text-align-last</li>
                  <li>Промежутки между словами: свойство word-spacing</li>
                  <li>Трекинг: свойство letter-spacing</li>
                  <li>Отступ первой строки: свойство text-indent</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-шрифты</h3>
                </div>
                <ol class="list_sub">
                  <li>Семейство шрифтов: свойство font-family</li>
                  <li>Насыщенность шрифта: свойство font-weight</li>
                  <li>Ширина шрифта: свойство font-stretch</li>
                  <li>Начертание шрифта: свойство font-style</li>
                  <li>Размер шрифта: свойство font-size</li>
                  <li>Относительный размер шрифта: свойство font-size-adjust</li>
                  <li>Сокращенная запись свойств шрифта: свойство font</li>
                  <li>Управление синтезом шрифтов: свойство font-synthesis</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>CSS-списки</h3>
                </div>
                <ol class="list_sub">
                  <li>Тип маркера списка list-style-type</li>
                  <li>Изображения для элементов списка list-style-image</li>
                  <li>Местоположение маркера списка list-style-position</li>
                  <li>Краткая форма задания стилей списка list-style</li>
                  <li>Примеры красивого оформления списков</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id="part-3" class="tabs-wrapper">
          <div class="tabs_inner content">
            <h2>Язык JavaScript</h2>
            <div class="tabs_description">
              <p>
                Здесь вы можете изучить JavaScript, начиная с нуля и
                заканчивая продвинутыми концепциями вроде ООП.
              </p>
              <p>Мы сосредоточимся на самом языке, изредка добавляя заметки о средах его исполнения.</p>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Введение</h3>
                </div>
                <ol class="list_sub">
                  <li>Введение в JavaScript</li>
                  <li>Справочники и спецификации</li>
                  <li>Редакторы кода</li>
                  <li>Консоль разработчика</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Основы JavaScript</h3>
                </div>
                <ol class="list_sub">
                  <li>Привет, мир!</li>
                  <li>Структура кода</li>
                  <li>Строгий режим — "use strict"</li>
                  <li>Переменные</li>
                  <li>Типы данных</li>
                  <li>Взаимодействие: alert, prompt, confirm</li>
                  <li>Преобразование типов</li>
                  <li>Базовые операторы, математика</li>
                  <li>Операторы сравнения</li>
                  <li>Условное ветвление: if, '?'</li>
                  <li>Логические операторы</li>
                  <li>Оператор нулевого слияния (??)</li>
                  <li>Циклы while и for</li>
                  <li>Конструкция "switch"</li>
                  <li>Функции</li>
                  <li>Function Expression</li>
                  <li>Стрелочные функции, основы</li>
                  <li>Особенности JavaScript</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Качество кода</h3>
                </div>
                <ol class="list_sub">
                  <li>Отладка в браузере</li>
                  <li>Советы по стилю кода</li>
                  <li>Комментарии</li>
                  <li>Ниндзя-код</li>
                  <li>Автоматическое тестирование c использованием фреймворка Mocha</li>
                  <li>Полифилы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Объекты: основы</h3>
                </div>
                <ol class="list_sub">
                  <li>Объекты</li>
                  <li>Копирование объектов и ссылки</li>
                  <li>Сборка мусора</li>
                  <li>Методы объекта, "this"</li>
                  <li>Конструкторы, создание объектов через "new"</li>
                  <li>Опциональная цепочка '?.'</li>
                  <li>Тип данных Symbol</li>
                  <li>Преобразование объектов в примитивы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Типы данных</h3>
                </div>
                <ol class="list_sub">
                  <li>Методы примитивов</li>
                  <li>Числа</li>
                  <li>Строки</li>
                  <li>Массивы</li>
                  <li>Методы массивов</li>
                  <li>Перебираемые объекты</li>
                  <li>Map и Set</li>
                  <li>WeakMap и WeakSet</li>
                  <li>Object.keys, values, entries</li>
                  <li>Деструктурирующее присваивание</li>
                  <li>Дата и время</li>
                  <li>Формат JSON, метод toJSON</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Продвинутая работа с функциями</h3>
                </div>
                <ol class="list_sub">
                  <li>Рекурсия и стек</li>
                  <li>Остаточные параметры и оператор расширения</li>
                  <li>Замыкание</li>
                  <li>Устаревшее ключевое слово "var"</li>
                  <li>Глобальный объект</li>
                  <li>Объект функции, NFE</li>
                  <li>Синтаксис "new Function"</li>
                  <li>Планирование: setTimeout и setInterval</li>
                  <li>Декораторы и переадресация вызова, call/apply</li>
                  <li>Привязка контекста к функции</li>
                  <li>Повторяем стрелочные функции</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Свойства объекта, их конфигурация</h3>
                </div>
                <ol class="list_sub">
                  <li>Флаги и дескрипторы свойств</li>
                  <li>Свойства - геттеры и сеттеры</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Прототипы, наследование</h3>
                </div>
                <ol class="list_sub">
                  <li>Прототипное наследование</li>
                  <li>F.prototype</li>
                  <li>Встроенные прототипы</li>
                  <li>Методы прототипов, объекты без свойства __proto__</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Классы</h3>
                </div>
                <ol class="list_sub">
                  <li>Класс: базовый синтаксис</li>
                  <li>Наследование классов</li>
                  <li>Статические свойства и методы</li>
                  <li>Приватные и защищённые методы и свойства</li>
                  <li>Расширение встроенных классов</li>
                  <li>Проверка класса: "instanceof"</li>
                  <li>Примеси</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Обработка ошибок</h3>
                </div>
                <ol class="list_sub">
                  <li>Обработка ошибок, "try..catch"</li>
                  <li>Пользовательские ошибки, расширение Error</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Промисы, async/await</h3>
                </div>
                <ol class="list_sub">
                  <li>Введение: колбэки</li>
                  <li>Промисы</li>
                  <li>Цепочка промисов</li>
                  <li>Промисы: обработка ошибок</li>
                  <li>Promise API</li>
                  <li>Промисификация</li>
                  <li>Микрозадачи</li>
                  <li>Async/await</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Генераторы, продвинутая итерация</h3>
                </div>
                <ol class="list_sub">
                  <li>Генераторы</li>
                  <li>Асинхронные итераторы и генераторы</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Модули</h3>
                </div>
                <ol class="list_sub">
                  <li>Модули, введение</li>
                  <li>Экспорт и импорт</li>
                  <li>Динамические импорты</li>
                </ol>
              </div>
            </div>
            <div class="list">
              <div class="list_item">
                <div class="list_title">
                  <h3>Разное</h3>
                </div>
                <ol class="list_sub">
                  <li>Proxy и Reflect</li>
                  <li>Eval: выполнение строки кода</li>
                  <li>Каррирование</li>
                  <li>Побитовые операторы</li>
                  <li>BigInt</li>
                  <li>Intl: интернационализация в JavaScript</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
