
<div>
  <p>
    Ежедневно мы сталкиваемся с различными типами документов. Газеты, заявления на выдачу паспорта,
    каталоги - этот список можно продолжать до бесконечности.
  </p>

  <p>
    Многие веб-страницы функционируют как электронные версии вышеперечисленных документов. Например
    газеты публикуют одни и те же репортажи как на бумаге, так и на собственных сайтах; с помощью
    Всемирной паутины вы также можете написать заявление на получение паспорта; интернет-магазины
    содержат онлайн-версии каталогов и средства электронной коммерции.
  </p>

  <p>
    Структура важна для всех типов документов: она помогает читателям понять информацию, которую
    вы пытаетесь до них донести, а также способствует более простому переходу между частями
    документов. Таким образом, чтобы научиться создавать веб-страницы, важно понять, как правильно
    структурировать документы.
  </p>
</div>

<div data-custom="head1">
  <h2 class="head" id="head1">
    Примеры структуризации страниц.
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Давайте вспомним, как выглядят статьи, публикуемые в газетах: у каждой новостной заметки есть
    свой заголовок, текст и зачастую одно или несколько изображений. Если перед вами длинная
    статья, то она может быть разделена на несколько частей подзаголовками, в ней также иногда
    содержатся специально выделенные врезки-цитаты.
  </p>

  <p>
    Если вы читаете статью во Всемирной паутине, структура ее будет лишь незначительно отличаться от
    той, что вы видите на бумаге (к таким публикациям, например,иногда прикрепляют какие-либо аудио
    или видеофайлы). Взглянув на следующую страницу, вы увидите отсканированную журнальную статью и
    ее электронную версию, опубликованную на сайте журнала.
  </p>

  <p>
    А теперь давайте вспомним, как выглядит абсолютно иной вид документа: заявление на выдачу
    паспорта. Как правило, у подобных форм есть несколько разделов, каждый из которых может иметь
    собственный заголовок. Во всех разделах имеются поля для заполнения и вопросы к ним, а также
    ячейки, чтобы ставить галочки. Структура этого документа, опять же, очень похожа на электронную
    версию формы, опубликованную на сайте Федеральной миграционной службы.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Структурирование документов MS Word.
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Использование заголовков и подзаголовков при составлении документов различных типов помогает
    отразить иерархию предоставляемых данных. Например любой документ должен начинаться с заголовка,
    написанного крупным шрифтом, после которого, как пра вило, следует введение или резюме с наиболее
    важной информацией.
  </p>

  <p>
    Такая структура может быть расширена с помощью подзаголовков, помещаемых в тексте ниже на
    странице. При составлении документа с помощью текстового редактора принято разделять фрагменты
    текста, чтобы структурировать их. Каждая подтема может выделяться в отдельный абзац, кроме
    того, каждый подраздел также может иметь собственный заголовок, описывающий то, о чем говорится
    в следующем за ним тексте.
  </p>

  <p>
    Подобное использование структуры принято и при верстке веб-страниц.
  </p>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Использования языка HTML для описания структуры веб-страниц.
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>


  <p>
    Для описания структуры веб-документа необходимо добавить немного кода к тексту,
    который вы хотите отобразить на экране.
  </p>

  <p>
    Ниже на странице приведен код на языке HTML. Не волнуйтесь по поводу того, что вы не
    понимаете его назначения. Прямо сейчас мы начнем подробно знакомить вас с ним.
  </p>

  <div class="code-mirror head3"></div>

  <p>
    НТМL-код (выделен <span class="token tag">красным</span> цветом) состоит из символов,
    помещенных между двух угловых скобок <span class="token tag">&lt;html&gt;</span>. Все это называется НТМL-эпементами. Элементы,
    как правило, состоят из двух теrов: открывающего и закрывающего. (Внутри закрывающего
    тега также имеется косая черта, иначе называемая слэш.) Каждый НТМL-элемент сообщает
    браузеру какую-либо информацию о тексте, помещенном между открывающим и закрывающим тегами.
  </p>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Атрибыты HTML-элементов
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    Атрибуты предоставляют дополнительную информацию о содержимом HTML-элементов. Они распологаются
    в открывающем теге элемента и состоят из двух частей: <span class="attr-name">имени</span> и <span class="attr-value">значения</span>,
    разделенных знаком "равно".
  </p>

  <div class="code-mirror head4"></div>

  <p>
    <span class="attr-name">Имя атрибута</span> определяет, какого рода дополнительную информацию
    о содержимом элемента вы намереваетесь сообщить, в то время как <span class="attr-value">значение</span>
    - это собственно информация или настройка элемента, изменяемая атрибутом. Значение следует
    заключить в двойные кавычки. У разных атрибутов могут быть разные значения.
  </p>

  <p>
    Выше в качестве примера приводился атрибут <span class="attr-name">lang</span>, используемый
    для обозначения языка текста данного элемента. <span class="attr-value">Значение</span>
    атрибута из примера устанавливает русский язык.
  </p>

  <p>
    Большинство <span class="attr-name">атрибутов</span> могут быть использованы только с
    определенными элементами. Несмотря на это некоторые атрибуты допускается ставить в любом элементе.
  </p>

  <p>
    Большинство значений атрибутов могут быть либо переопределенными, либо установленными в
    соответствии с принятыми стандартами. По мере изучения атрибутов вы также узнаете и о
    доступных для них значениях. Так значение атрибута <span class="attr-name">lang</span> может быть
    сокращенное обозначение языка содержимого элемента. Браузеры должны распознавать это
    сокращение.
  </p>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Элементы body, head и title
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>

  <p>
    С тегом <span class="tag">&lt;body&gt;</span>  вы уже встречались в первомпримере.
    Все, помещаемое внутрь этого элемента, отображается в основном окне браузера.
  </p>

  <p>
    Вам часто придется видеть элемент <span class="tag">&lt;head&gt;</span> предшествующий элементу <span class="tag">&lt;body&gt;</span>. Он содержит
    информацию о самой странице, а не ту, которая будет выведена в основную часть окна
    браузера.В элемент <span class="tag">&lt;head&gt;</span> также часто включается элемент <span class="tag">&lt;title&gt;</span>.
  </p>

  <p>
    Содержимое элемента <span class="tag">&lt;title&gt;</span> - выводится либо в заголовке окна браузера
    (выше текстового поля, в которое вы обычно вводите адрес сайта), либо в качестве названия
    вкладки страницы (если ваш брауэер исnользует вкладки).
  </p>

  <p>
    Возможно, вы уже знаете, что аббревиатура HTML расшифровывается как HyperText Markup
    Language - язык разметки гипертекста. В данном случае слово «гипертекст» означает,
    что с помощью языка HTML вы можете создавать ссылки, позволяющие посетителям быстро
    и легко перемещаться с одной страницы на другую. Язык разметки позволяет вам создать
    примечания к тексту, а эти примечания, в свою очередь, придают дополнительное значение
    содержимому документа. Представьте себе веб-страницу: к исходному тексту, который вы хотите
    отобразить в окне браузера, вы добавляете какой-либо код, используемый браузером для корректного
    отображения страницы. Поэтому теги, добавляемые вами, называются «элементами разметки».
  </p>
</div>
