
<p>
  Язык HTML следует правилам, которые содержатся в файле
  объявления типа документа (Document Type Definition, или DTD).
  DTD представляет собой XML-документ, определяющий, какие элементы,
  атрибуты и их значения действительны для конкретного типа HTML.
  Для каждой версии HTML есть свой DTD.
</p>
<p>
  DOCTYPE отвечает за корректное отображение
  веб-страницы браузером. DOCTYPE определяет
  не только версию HTML (например, html), но и соответствующий DTD-файл в Интернете.
</p>

<p>
  Элементы, находящиеся внутри элемента
  &lt;html&gt;
  , образуют дерево документа, так называемую объектную модель документа, DOM (document object model). При этом элемент
  &lt;html&gt;
  является корневым элементом.
</p>

<p>
  Чтобы разобраться во взаимодействии
  элементов веб-страницы, необходимо рассмотреть так
  называемые «родственные отношения» между элементами.
  Отношения между множественными вложенными элементами
  подразделяются на родительские, дочерние и сестринские.
</p>

<ul class="list-circle">
  <li><b>Предок</b> — элемент, который заключает в себе другие элементы. На рисунке 1 предком для всех элементов является <kbd>&lt;html&gt;</kbd>. В то же время элемент <kbd>&lt;body&gt;</kbd> является предком для всех содержащихся в нем элементов: <kbd>&lt;h1&gt;</kbd>, <kbd>&lt;p&gt;</kbd>, <kbd>&lt;span&gt;</kbd>, <kbd>&lt;nav&gt;</kbd> и т.д.</li>
  <li><b>Потомок</b> — элемент, расположенный внутри одного или более типов элементов. Например, <kbd>&lt;body&gt;</kbd> является потомком <kbd>&lt;html&gt;</kbd>, а элемент <kbd>&lt;p&gt;</kbd> является потомком одновременно для <kbd>&lt;body&gt;</kbd> и <kbd>&lt;html&gt;</kbd>.</li>
  <li><b>Родительский элемент</b> — элемент, связанный с другими элементами более низкого уровня, и находящийся на дереве выше их. На рисунке 1 <kbd>&lt;html&gt;</kbd> является родительским только для <kbd>&lt;head&gt;</kbd> и <kbd>&lt;body&gt;</kbd>. Элемент <kbd>&lt;p&gt;</kbd> является родительским только для <kbd>&lt;span&gt;</kbd>.</li>
  <li><b>Дочерний элемент</b> — элемент, непосредственно подчиненный другому элементу более высокого уровня. На рисунке 1 только элементы <kbd>&lt;h1&gt;</kbd>, <kbd>&lt;h2&gt;</kbd>, <kbd>&lt;p&gt;</kbd> и <kbd>&lt;nav&gt;</kbd> являются дочерними по отношению к <kbd>&lt;body&gt;</kbd>.</li>
  <li><b>Сестринский элемент</b> — элемент, имеющий общий родительский элемент с рассматриваемым, так называемые элементы одного уровня. На рисунке 1 <kbd>&lt;head&gt;</kbd> и <kbd>&lt;body&gt;</kbd> — элементы одного уровня, так же как и элементы <kbd>&lt;h1&gt;</kbd>, <kbd>&lt;h2&gt;</kbd> и <kbd>&lt;p&gt;</kbd> являются между собой сестринскими.</li>
</ul>
