<div>
  <p>
    Цветовое оформление страницы в CSS является важным аспектом дизайна, который помогает создать привлекательный и эстетически приятный
    внешний вид.
  </p>
  <p>
    В данном разделе мы подробно рассмотрим значения, которые позволяют определять цвета и непрозрачность html-элементов, а также
    значения свойства <code class="css-prop">color</code>.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
  <p>
    Цвет в CSS можно задавать различными способами. Вот некоторые из наиболее распространенных способов задания цвета:
  </p>
  <ul>
    <li>
      Именованные цвета: CSS предоставляет набор предопределенных именованных цветов, таких как "red" (красный), "blue" (синий),
      "green" (зеленый) и т. д. Пример: <code><code class="css-prop">color</code>: <code class="css-value">red</code>;</code>
    </li>
    <li>
      HEX-коды: HEX-коды представляют цвета в шестнадцатеричном формате. Они начинаются с символа "#" и состоят из шести символов, где
      каждые два символа представляют значение красного, зеленого и синего цветов соответственно. Пример: <code><code class="css-prop">color</code>: <code class="css-value">#c4c4c4</code>;</code>
      <span style="color: #c4c4c4;">(серый)</span>.
    </li>
    <li>
      RGB: представляет цвета в виде комбинации значений красного (R), зеленого (G) и синего (B). Каждое значение может быть указано
      в диапазоне от 0 до 255. Пример: <code>
        <code class="css-prop">color</code>: <code class="css-value">
          rgb(<code class="css-number">150</code>,
          <code class="css-number">30</code>, <code class="css-number">240</code>)
        </code>
      </code>; <span style="color: rgb(150, 30, 240);">(фиолетовый)</span>.
    </li>
    <li>
      RGBA: работает аналогично RGB, но позволяет задавать также прозрачность цвета с помощью значения альфа (A) от 0 до 1.
      Пример: <code>
        <code class="css-prop">color</code>: <code class="css-value">
          rgb(<code class="css-number">150</code>,
          <code class="css-number">30</code>, <code class="css-number">240</code>, <code class="css-number">0.5</code>)
        </code>
      </code>; <span style="color: rgba(150, 30, 240, 0.5);">(полупрозрачный фиолетовый)</span>.
    </li>
    <li>
      HSL и HSLA: представляет цвета в виде комбинации оттенка (H), насыщенности (S) и светлоты (L). Значение оттенка указывается в
      градусах, а насыщенность и светлота в процентах. HSLA аналогично HSL, но позволяет задавать также прозрачность цвета.
      Пример: <code><code class="css-prop">color</code>: <code class="css-value">hsl(<code class="css-number">0</code>, <code class="css-number">100%</code>, <code class="css-number">50%</code>)</code>;</code>
      <span style="color: hsl(0, 100%, 50%)">(красный по оттенку)</span>.
    </li>
  </ul>
  <p>
    Далее мы более детально разберем каждый из способов задания цвета.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Цвета модели RGB, HEX, RGBA
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Цвета в модели RGB (Red, Green, Blue) представляются с помощью комбинации трех основных цветов: красного (Red), зеленого (Green) и
    синего (Blue). Каждый из этих цветов имеет диапазон значений от 0 до 255, где 0 обозначает отсутствие цвета, а 255 - полную
    насыщенность цвета. Комбинируя эти три основных цвета в различных пропорциях, мы можем получить широкий спектр разных цветов.
  </p>
  <p>
    Формат значения RGB в шестнадцатеричном формате — это знак #, за которым сразу следуют три или шесть шестнадцатеричных символов.
    Трехзначная запись RGB #rgb преобразуется в шестизначную форму #rrggbb путем копирования цифр, а не путем добавления нулей. Например,
    <code class="css-value">#fb0</code> расширяется до <code class="css-value">#ffbb00</code>. Это гарантирует, что белый
    <code class="css-value">#ffffff</code> может быть указан в короткой записи <code class="css-value">#fff</code>, и удаляет любые
    зависимости от глубины цвета дисплея.
  </p>
  <p>
    Кроме того, с помощью модели RGB также можно использовать дополнительные форматы записи цветов:
  </p>
  <ol>
    <li>
      Запись в виде шестнадцатеричного значения: Цвет в модели RGB также можно записать в виде шестнадцатеричного значения, где каждая
      компонента цвета (красная, зеленая, синяя) представлена двумя шестнадцатеричными цифрами. Например, красный цвет может быть записан
      как #FF0000, зеленый - как #00FF00, а синий - как #0000FF.
    </li>
    <li>
      Запись с альфа-каналом: Помимо основных цветов RGB, можно также указать дополнительный альфа-канал, который определяет прозрачность
      цвета. Запись цвета с альфа-каналом имеет вид rgba(красный, зеленый, синий, альфа), где альфа - значение от 0 до 1, где 0 обозначает
      полную прозрачность, а 1 - полную непрозрачность. Например, rgba(255, 0, 0, 0.5) задает полупрозрачный красный цвет.
    </li>
  </ol>
  <h4>Пример использования различных цветовых моделей</h4>
  <app-code-example [CSSInputValue]="CSScodeExample1"></app-code-example>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Цвета модели HSL, HSLA
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Модель HSL (Hue, Saturation, Lightness) предоставляет более интуитивный способ представления цвета, основанный на оттенке,
    насыщенности и светлоте. Вот более подробное описание каждого компонента модели HSL:
  </p>
  <ol>
    <li>
      Оттенок (Hue): Оттенок определяет самый базовый цвет, такой как красный, зеленый, синий и т.д. Он представлен в градусах на
      цветовом круге, где 0 градусов соответствуют красному цвету, 120 градусов - зеленому, а 240 градусов - синему. Другие оттенки
      находятся между этими основными цветами. Например, желтый имеет оттенок 60 градусов, оранжевый - 30 градусов и т.д.
    </li>
    <li>
      Насыщенность (Saturation): Насыщенность определяет насыщенность или чистоту цвета. Она представлена в процентах, где 0%
      соответствуют оттенку серого или безцветию, а 100% - полной насыщенности цвета. Низкая насыщенность делает цвет более бледным или
      приглушенным, а высокая насыщенность делает его более ярким и насыщенным.
    </li>
    <li>
      Светлота (Lightness): Светлота определяет яркость или темноту цвета. Она также представлена в процентах, где 0% соответствуют полной
      черноте (темноте), а 100% - полной белизне (яркости). Промежуточные значения определяют оттенки цвета между черным и белым.
    </li>
  </ol>
  <p>
    Формат записи цветов в модели HSL имеет вид hsl(оттенок, насыщенность, светлота), где значения оттенка указываются в градусах, а
    насыщенности и светлоты - в процентах. Например, hsl(0, 100%, 50%) представляет ярко-красный цвет, hsl(120, 100%, 50%) - ярко-зеленый,
    а hsl(240, 100%, 50%) - ярко-синий.
  </p>
  <p>
    Модель HSL предоставляет более гибкую и интуитивную систему для работы с цветами, позволяя точно контролировать оттенки, насыщенность
    и светлоту цветов. Она также удобна для
  </p>
  <h4>Пример использования различных цветовых моделей</h4>
  <app-code-example [CSSInputValue]="CSScodeExample2"></app-code-example>
</div>
