
<div>
  <p>
    Ссылка на внешний ресурс <code class="tag">&lt;link&gt;</code> определяет отношения между
    текущим документом и внешним ресурсом. Этот элемент чаще всего используется для ссылки на
    stylesheets, а также для создания иконок сайта (как для иконок в стиле "favicon", так и для
    иконок домашних экранов и приложений мобильных устройств) среди прочего.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примечания об использовании
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Чтобы подключить таблицу стилей, вы должны включить элемент <code class="tag">&lt;link&gt;</code>
    внутри вашего <code class="tag">&lt;head&gt;</code> следующим образом:
  </p>
  <app-code-example [InputValue]="codeExample1"></app-code-example>
  <p>
    В этом простом примере указывается путь к таблице стилей внутри атрибута <code class="attr-name">href</code>
    и атрибут <code class="attr-name">rel</code> со значением <code class="attr-value">stylesheet</code>.
    <code class="attr-name">rel</code> означает "отношения (relationship)", и, вероятно, является одной
    из ключевых особенностей элемента <code class="tag">&lt;link&gt;</code> — значение сообщает как
    указанный элемент связан с содержащим его документом.
  </p>
  <p>
    Существует ряд других распространённых типов, с которыми вы столкнётесь. Например, ссылка на
    сайт иконок:
  </p>
  <app-code-example [InputValue]="codeExample2"></app-code-example>
  <p>
    Есть ряд других значений <code class="attr-name">rel</code> для иконок, в основном, используемых
    для обозначения специальных типов иконок для использования на различных мобильных платформах,
    например:
  </p>
  <app-code-example [InputValue]="codeExample3"></app-code-example>
  <p>
    Атрибут <code class="attr-name">sizes</code> определяет размер иконки, когда <code class="attr-name">type</code>
    содержит тип MIME связанного ресурса. Они предоставляют советы, позволяющие браузеру выбрать
    наиболее подходящую иконку.
  </p>
  <p>
    Вы можете, также, указать медиа тип или запрос внутри атрибута <code class="attr-name">media</code>,
    этот ресурс будет загружен только в том случае, если media состояние равно true. Например:
  </p>
  <app-code-example [InputValue]="codeExample4"></app-code-example>
  <p>
    В элемент <code class="tag">&lt;link&gt;</code> также были добавлены некоторые новые интересные
    возможности производительности и безопасности, к примеру:
  </p>
  <app-code-example [InputValue]="codeExample5"></app-code-example>
  <p>
    Значение <code class="attr-name">rel</code> - <code class="attr-value">preload</code> указывает,
    что браузер должен предварительно загрузить этот ресурс, атрибут <code class="attr-name">as</code>
    указывает на определённый класс загружаемого контента. Атрибут <code class="attr-name">crossorigin</code> у
    казывает должен ли ресурс загружаться с помощью запроса CORS.
  </p>
  <p>Другие замечания по использованию:</p>
  <ul>
    <li>
      Элемент <code class="tag">&lt;link&gt;</code> может присутствовать в элементах <code class="tag">&lt;head&gt;</code>
      или <code class="tag">&lt;body&gt;</code>, в зависимости от того, имеет ли он тип ссылки,
      являющейся <b>body-ok</b>. Например, ссылка типом отношения <code class="attr-value">stylesheet</code>
      является body-ok, и, поэтому, допускается в <code class="tag">&lt;body&gt;</code> (как в примерах выше).
      Однако, это не очень хорошая практика использования, более осмысленно отделять ваши <code class="tag">&lt;link&gt;</code>
      от содержимого <code class="tag">&lt;body&gt;</code>, помещая их в <code class="tag">&lt;head&gt;</code>.
    </li>
    <li>
      При использовании <code class="tag">&lt;link&gt;</code> для установки favicon сайта, и когда
      ваш сайт использует Политику Безопасности Контента (CSP) для повышения безопасности, политика
      применяется к favicon. Если вы столкнулись с проблемой при загрузке favicon, проверьте, что
      img-src директива заголовка Content-Security-Policy не препятствует доступу к ней.
    </li>
    <li>
      Спецификации HTML и XHTML определяют обработчики событий для элемента <code class="tag">&lt;link&gt;</code>,
      но не указывают как они будут использоваться.
    </li>
    <li>
      В XHTML 1.0, пустые элементы, такие как <code class="tag">&lt;link&gt;</code>, требуют слеш: <code class="tag">&lt;link /&gt;</code>.
    </li>
    <li>
      WebTV поддерживает использование значения <code class="attr-value">next</code> для
      <code class="attr-name">rel</code> в качестве предварительной загрузки следующей страницы
      в серии документов.
    </li>
  </ul>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Атрибуты
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <dl>
    <dt>
      <code class="attr-name">as</code>
    </dt>
    <dd>
      Этот атрибут используется только для элементов <code class="tag">&lt;link&gt;</code> с атрибутом
      <code class="attr-name">rel</code>=<code class="attr-value">'preload'</code> или
      <code class="attr-name">rel</code>=<code class="attr-value">'prefetch'</code>. Он
      указывает тип контента, загружаемого <code class="tag">&lt;link&gt;</code>, который необходим
      для определения приоритетов контента, сравнения запросов, применения корректного content
      security policy, и установки корректного Accept запрашиваемого заголовка.
    </dd>
    <dt>
      <code class="attr-name">crossorigin</code>
    </dt>
    <dd>
      Этот перечисляемый атрибут указывает, должен ли CORS (Cross-Origin Resource Sharing, рус.
      "Совместное использование ресурсов между разными источниками") использоваться при загрузки
      ресурса. CORS-поддерживаемые изображения могут быть повторно использованы в элементе
      <code class="tag">&lt;canvas&gt;</code> не искажая их.
    </dd>
    <dt>
      <code class="attr-name">href</code>
    </dt>
    <dd>
      Этот атрибут определяет URL, связываемого ресурса. URL может быть абсолютным или относительным.
    </dd>
    <dt>
      <code class="attr-name">importance</code>
    </dt>
    <dd>
      Указывает на относительную важность ресурса. Приоритетные подсказки передаются используя
      значения: <code class="attr-value">auto</code>: указывает на отсутствие предпочтений. Браузер может использовать собственную
      эвристику для определения приоритетов ресурсов. <code class="attr-value">high</code>: указывает
      браузеру, что ресурс находится в высоком приоритете. <code class="attr-value">low</code>:
      указывает браузеру, что ресурс находится в низком приоритете. Данный атрибут можно использовать
      только для элементов <code class="tag">&lt;link&gt;</code> с атрибутами <code class="attr-name">rel</code>=<code class="attr-value">'preload'</code> или
      <code class="attr-name">rel</code>=<code class="attr-value">'prefetch'</code>
    </dd>
    <dt>
      <code class="attr-name">integrity</code>
    </dt>
    <dd>
      Содержит встроенные метаданные — криптографический хеш-код ресурса (файла) в кодировке base64,
      который вы сообщаете браузеру для загрузки. Браузер может использовать его для проверки, что
      загруженный ресурс был получен без неожиданных манипуляций.
    </dd>
    <dt>
      <code class="attr-name">media</code>
    </dt>
    <dd>
      Этот атрибут указывает медиа, который применяет связываемый ресурс. Его значение должно быть
      типом медиа или медиавыражением. Этот атрибут, в основном, полезен при связывании с внешними
      таблицами стилей — он позволяет пользовательскому агенту выбрать наиболее подходящее
      устройство для запуска.
    </dd>
    <dt>
      <code class="attr-name">rel</code>
    </dt>
    <dd>
      Этот атрибут определяет отношения связываемого документа и текущего документа. Атрибут должен
      быть разделённым пробелами списком значений типов ссылки.
    </dd>
    <dt>
      <code class="attr-name">sizes</code>
    </dt>
    <dd>
      Этот атрибут определяет размеры иконки для визуальных медиа, содержащихся в ресурсе. Он должен
      быть представлен только, если <code class="attr-name">rel</code> содержит значение <code class="attr-value">icon</code>
      или нестандартный тип, например <code class="attr-value">apple-touch-icon</code>Apple.
    </dd>
    <dt>
      <code class="attr-name">title</code>
    </dt>
    <dd>
      Атрибут title имеет особое значение для элемента <code class="tag">&lt;link&gt;</code>. При
      использовании <code class="attr-name">rel</code>=<code class="attr-value">'stylesheet'</code> он
      определяет предпочтительную или альтернативную таблицу стилей. Неверное использование может
      стать причиной игнорирования таблицы стилей.
    </dd>
    <dt>
      <code class="attr-name">type</code>
    </dt>
    <dd>
      Этот атрибут используется для определения типа связываемого контента. Значение атрибута должно
      быть типом MIME, такое как <kbd>text/html</kbd>, <kbd>text/css</kbd> и т.д. Обычно он
      используется для определения типа таблицы стилей, на которую делается ссылка (например, <kbd>text/css</kbd>),
      но, учитывая, что CSS является единственным языком таблиц стилей, используемым в сети, этот
      атрибут может быть пропущен, что является рекомендацией. Он также используется для типов ссылок
      <code class="attr-name">rel</code>=<code class="attr-value">'preload'</code>, чтобы браузер
      загружал только те типы файлов, которые он поддерживает.
    </dd>
  </dl>
  <h3>Нестандартные атрибуты</h3>
  <dl>
    <dt>
      <code class="attr-name">disabled</code>
    </dt>
    <dd>
      Этот атрибут используется для отключения отношения ссылки. В сочетании со скриптом, этот атрибут
      может использоваться для включения и выключения различных отношений таблицы стилей.
    </dd>
    <dt>
      <code class="attr-name">methods</code>
    </dt>
    <dd>
      Значение этого атрибута предоставляет информацию о функциях, которые могут выполняться над
      объектом. Значения обычно задаются протоколом HTTP, когда он используется, но может быть
      (аналогично атрибуту title) полезно заранее включить в ссылку консультативную информацию.
      Например, браузер может выбрать другое отображение ссылки в зависимости от указанных методов;
      то, что доступно для поиска может получить другую иконку, или внешняя ссылка может отображаться
      с указанием перехода с текущего сайта. Этот атрибут не совсем понятен и не поддерживается, даже
      определяющим браузером, Internet Explorer 4.
    </dd>
    <dt>
      <code class="attr-name">prefetch</code>
    </dt>
    <dd>
      Этот атрибут идентифицирует ресурс, который может потребоваться при следующей навигации, и
      необходимость получить его пользовательским агентом. Это позволяет пользовательскому агенту
      быстрее реагировать, когда, в будущем, ресурс будет запрошен.
    </dd>
    <dt>
      <code class="attr-name">target</code>
    </dt>
    <dd>
      Определяет название фрейма или окна, которое определяет связывающие отношения, или, которое
      будет показывать рендеринг любого связываемого ресурса.
    </dd>

  </dl>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Предоставление альтернативных таблиц стилей</h3>
  <p>
    Вы можете указать альтернативные таблицы стилей.
  </p>
  <p>
    Пользователь может выбрать, какую таблицу стилей использовать, выбрав её в меню Вид > Стиль
    страницы. Это позволяет пользователям видеть мультиверсию страницы.
  </p>
  <app-code-example [InputValue]="codeExample6"></app-code-example>

  <h3>Предоставление иконок для различных контекстов использования</h3>
  <p>
    Вы можете включить ссылки на несколько различных иконок на одной странице, и браузер выберет,
    какая из них лучше подходит для его конкретного контекста, используя значения <code class="attr-name">rel</code>
    и <code class="attr-name">sizes</code> как подсказки.
  </p>
  <app-code-example [InputValue]="codeExample7"></app-code-example>

  <h3>Условная загрузка ресурсов с медиавыражениями</h3>
  <p>
    Вы можете предоставить тип медиа или запрос внутри атрибута media. Этот ресурс будет загружен
    только в том случае, если условия медиа равно true. Например:
  </p>
  <app-code-example [InputValue]="codeExample8"></app-code-example>

</div>

