<div>
  <p>
    В CSS наследование - это механизм, позволяющий элементам наследовать значения свойств от своих
    родительских элементов. Таким образом, если свойство не определено для элемента, оно может быть
    унаследовано от его родительского элемента.
  </p>
  <p>
    Каскад в CSS описывает порядок применения стилей к элементам HTML. Когда браузер обрабатывает
    HTML-документ и находит соответствующий элемент, он начинает применять стили к этому элементу,
    используя различные источники стилей, такие как внутренние стили, внешние стили и стили по
    умолчанию.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
  <p>
    В этом примере <code class="tag">div</code> с классом <code class="css-selector">.container</code>
    имеет свойство <code class="css-prop">color</code>, установленное на красный цвет. Так
    как этот элемент является родительским элементом для двух элементов <code class="tag">p</code>,
    текст в обоих элементах наследует это свойство и становится красным.
  </p>
  <p>
    Однако, второй элемент <code class="tag">p</code> имеет класс <code class="css-selector">.grey</code>, который определяет
    цвет текста в серый цвет, перезаписывая наследуемое свойство <code class="css-prop">color</code>
    от родительского элемента.
  </p>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Наследование свойств
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Спецификацией CSS предусмотрено наследование свойств, относящихся к текстовому содержимому
    страницы, таких как <code class="css-prop">color</code>, <code class="css-prop">font</code>,
    <code class="css-prop">letter-spacing</code>, <code class="css-prop">line-height</code>,
    <code class="css-prop">list-style</code>, <code class="css-prop">text-align</code>,
    <code class="css-prop">text-indent</code>, <code class="css-prop">text-transform</code>,
    <code class="css-prop">visibility</code>, <code class="css-prop">white-space</code> и
    <code class="css-prop">word-spacing</code>. Во многих случаях это удобно, так как не
    нужно задавать размер шрифта и семейство шрифтов для каждого элемента веб-страницы.
  </p>
  <p>
    Свойства, относящиеся к форматированию блоков, не наследуются. Это <code class="css-prop">background</code>,
    <code class="css-prop">border</code>, <code class="css-prop">display</code>, <code class="css-prop">float</code>
    и <code class="css-prop">clear</code>, <code class="css-prop">height</code> и
    <code class="css-prop">width</code>, <code class="css-prop">margin</code>,
    <code class="css-prop">min/max-height</code> и <code class="css-prop">min/max-width</code>,
    <code class="css-prop">outline</code>, <code class="css-prop">overflow</code>,
    <code class="css-prop">padding</code>, <code class="css-prop">position</code>,
    <code class="css-prop">text-decoration</code>, <code class="css-prop">vertical-align</code> и
    <code class="css-prop">z-index</code>.
  </p>
  <h3>Принудительное наследование</h3>
  <p>
    В CSS принудительное наследование может быть задано с помощью ключевого слова <code class="css-value">inherit</code>,
    которое указывает, что элемент должен наследовать значение свойства от своего родительского элемента.
    Если значение свойства не было задано для родительского элемента, браузер перейдет к следующему
    родительскому элементу, пока не найдет значение свойства.
  </p>
  <p>
    Например, если вы хотите, чтобы дочерний элемент наследовал цвет текста от своего родительского
    элемента, как в примере выше.
  </p>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Каскад
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Каскадность в CSS означает, что стили применяются к элементам в зависимости от их приоритетности
    и специфичности, а также от порядка следования правил в таблице стилей.
  </p>
  <p>
    CSS-правила могут быть определены на разных уровнях: внутри элемента (inline), внутри блока (internal)
    и в отдельном файле (external). Каждое правило имеет вес, который определяет его приоритетность
    при каскадировании. Вес правила определяется на основе типа селектора, количества селекторов,
    наличия псевдоклассов и псевдоэлементов.
  </p>
  <p>
    Если к одному и тому же элементу применяется два или более правил, важно понимать, которое из них
    получит приоритет.
  </p>
  <app-static-example [InputValue]="HTMLstaticExample1" [CSSInputValue]="CSSstaticExample1"></app-static-example>
  <dl>
    <dt>Последнее правило</dt>
    <dd>
      При наличии двух одинаковых селекторов приоритет получает последний. В примере вы можете видеть,
      как второй селектор <code class="css-selector">i</code> получает приоритет над первым.
    </dd>
    <dt>Специфичность</dt>
    <dd>
      Если один селектор является более специфичным, чем остальные, то он получает приоритет. В данном
      примере:
      <ul>
        <li>
          <code class="css-selector">h1</code> является более специфичным, чем <code class="css-selector">*</code>;
        </li>
        <li>
          <code class="css-selector">р Ь</code> является более специфичным, чем <code class="css-selector">р</code>;
        </li>
        <li>
          <code class="css-selector">p#intro</code> является более специфичным, чем <code class="css-selector">р</code>.
        </li>
      </ul>
      <p>
        Для каждого правила браузер вычисляет специфичность селектора, и если у элемента имеются
        конфликтующие объявления свойств, во внимание принимается правило, имеющее наибольшую
        специфичность. Значение специфичности состоит из четырех частей: <code>0, 0, 0, 0</code>.
        Специфичность селектора определяется следующим образом:
      </p>
      <ul>
        <li>для <code class="css-selector">#id</code> добавляется <code>0, 1, 0, 0</code>;</li>
        <li>для <code class="css-selector">.class</code> добавляется <code>0, 0, 1, 0</code>;</li>
        <li>для каждого элемента и псевдоэлемента добавляется <code>0, 0, 0, 1</code>;</li>
        <li>для встроенного стиля, добавленного непосредственно к элементу — <code>1, 0, 0, 0</code>;</li>
        <li>универсальный селектор не имеет специфичности.</li>
      </ul>
      <p>В результате к элементу применятся те правила, специфичность которых больше.</p>
    </dd>
    <dt>Важность</dt>
    <dd>
      Вы можете добавить ключевое слово <code class="css-selector">!important</code> после значения
      любого свойства, чтобы указать, что его следует считать самым важным из правил, относящихся к
      одному и тому же элементу.
    </dd>
  </dl>
  <h3>Порядок подключённых таблиц</h3>
  <p>
    Вы можете создать несколько внешних таблиц стилей и подключить их к одной веб-странице. Если в
    разных таблицах будут встречаться разные значения свойств одного элемента, то в результате к
    элементу применится правило, находящееся в таблице стилей, идущей в списке ниже.
  </p>
</div>

