<div>
  <p>
    В данном разделе мы рассмотрим свойства, которые позволяют работать с обработкой пробелов,
    правилами переноса и переносом текста и строк, выравниванием, интервалами и отступами.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Обработка пробелов и переносы строк
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">white-space</code> обрабатывает пробелы между словами и переносы
    строк внутри элемента.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">normal</code>
        </td>
        <td>
          Значение по умолчанию. Между словами вставляется только по одному пробелу, дополнительные
          пробелы отбрасываются. Текст переносится только в случае необходимости.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">nowrap</code>
        </td>
        <td>
          Запрещает переносы строк, за исключением применения <code class="tag">&lt;br&gt;</code>.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">pre</code>
        </td>
        <td>
          Пробелы в тексте не игнорируются, браузер отображает дополнительные пробелы и переносы строк.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">pre-wrap</code>
        </td>
        <td>
          Сохраняет пробелы в тексте, делая разрывы строк там, где это необходимо.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">pre-line</code>
        </td>
        <td>
          Удаляет лишние пробелы, за исключением случаев <code class="tag">&lt;br&gt;</code>.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">break-spaces</code>
        </td>
        <td>
          Поведение идентично <code class="css-prop">pre-wrap</code>, за исключением того, что: любая
          последовательность неудаляемых пробелов всегда занимает место, в том числе в конце строки;
          возможность переноса строки существует после каждого неудаляемого пробела, в том числе между
          пробелами.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример настройки отображения пробелов и переносов.</h3>
  <app-static-example [InputValue]="HTMLstaticExample1" [CSSInputValue]="CSSstaticExample1"></app-static-example>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Настройка табуляции
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">tab-size</code> используется для изменения величины отступа,
    получаемого с помощью клавиши ТAB. Значения свойства игнорируются, когда установлено одно из трёх
    значений <code class="css-prop">pre-line</code>, <code class="css-prop">normal</code> или
    <code class="css-prop">nowrap</code> свойства <code class="css-prop">white-space</code>.
  </p>
  <p>
    Работает только для элементов <code class="tag">&lt;textarea&gt;</code> и
    <code class="tag">&lt;pre&gt;</code>, для остальных блочных элементов значение всегда будет равно
    единице.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">целое число</code>
        </td>
        <td>
          Любое целое положительное число. По умолчанию табуляция делает отступ, равный восьми пробелам.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Значение отступа, указываемое в единицах длины, например, рх.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример настройки отображения пробелов и переносов.</h3>
  <app-static-example [InputValue]="HTMLstaticExample2" [CSSInputValue]="CSSstaticExample2"></app-static-example>
</div>

<div data-custom="head4">
  <h2 class="head" id="head4">
    Разрыв строки и границы слов
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Когда содержимое на строчном уровне разбивается на строки, оно разбивается на линейные блоки.
    Такое разбиение называется разрыв строки.
  </p>
  <p>
    Когда строка прерывается из-за явных элементов управления разрывом строки, например, символа
    новой строки или тега <code class="tag">&lt;br&gt;</code>, начала или конца блока — это
    принудительный разрыв строки.
  </p>
  <p>
    Если строка обрывается из-за переноса содержимого, когда браузер создает необязательные разрывы
    строк, чтобы вписать содержимое — это мягкий перенос.
  </p>
  <h3>Правила разрыва для букв</h3>
  <p>
    Свойство <code class="css-prop">word-break</code> определяет возможности мягкого переноса между
    буквами, т.е. когда допустимо разбивать строки текста. В частности, оно контролирует, существует
    ли возможность мягкого переноса между смежными типографскими буквенными единицами и/или цифрами.
    Это не влияет на правила, регулирующие возможности мягкого переноса, созданные пробелами.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">normal</code>
        </td>
        <td>
          Слова разрываются в соответствии с их обычными правилами. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">break-all</code>
        </td>
        <td>
          Разрыв допускается в пределах слов. Перенос слов не применяется.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">break-word</code>
        </td>
        <td>
          Использование значения <code class="css-value">break-word</code> должно быть ограничено
          только к случаям, когда длинные слова не могут быть разделены на части, и перенос слова на
          следующую строку является недопустимым. Во всех остальных случаях рекомендуется использовать
          значение по умолчанию - <code class="css-value">normal</code>.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">keep-all</code>
        </td>
        <td>
          Запрещает разрывы между парами символов. Не разрывает слова между символами, такими как
          пробелы и дефисы. Это может быть полезно для текста на других языках, например, в японском
          или китайском, где пробелы не используются для разделения слов.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h4>Пример разрыва для букв</h4>
  <app-static-example [InputValue]="HTMLstaticExample3" [CSSInputValue]="CSSstaticExample3"></app-static-example>
  <h3>Расстановка переносов</h3>
  <p>
    Свойство <code class="css-prop">hyphens</code> определяет, разрешено ли использование переносов
    для создания возможностей мягкого переноса внутри строки текста.
  </p>
  <p>
    Расстановка переносов — это контролируемое разбиение слов, при котором им обычно не разрешается
    разрываться, чтобы улучшить расположение абзацев. Как правило, разбиение слов происходит по
    слоговым или морфемным границам и при визуальном указании на разделение (обычно путем вставки
    дефиса, ‐). В некоторых случаях переносы могут также изменить написание слова. В любом случае,
    перенос слов является только эффектом рендеринга: он не должен влиять ни на содержимое документа,
    ни на выбор текста или поиск.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">none</code>
        </td>
        <td>
          Слова не переносятся, даже если символы внутри слова явно определяют возможности переноса.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">manual</code>
        </td>
        <td>
          Слова переносятся только в тех местах, где внутри слова есть символы, которые явно указывают
          на возможность переноса слов (специальные символы <code>shy</code>, <code>hyphen</code>­). Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">auto</code>
        </td>
        <td>
          Слова могут быть разбиты на возможности переноса, определяемые автоматически соответствующим
          языку ресурсом переноса в дополнение к тем, которые явно указаны условным дефисом. Необходимо
          задать язык своего контента (например, используя HTML-атрибут <code class="attr-name">lang</code> или заголовок
          HTTP Content-Language), чтобы получить правильный автоматический перенос слов.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h4>Пример использования переносов</h4>
  <app-static-example [InputValue]="HTMLstaticExample4" [CSSInputValue]="CSSstaticExample4"></app-static-example>
</div>

<div data-custom="head5">
  <h2 class="head" id="head5">
    Переполнение блока-обертки
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">overflow-wrap</code> (или его устаревшее имя word-wrap) применяется
    к строковым элементам, устанавливая должен ли браузер расставлять переносы строк внутри неразрывной
    строки, чтобы избежать выхода текста за границы элемента.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">normal</code>
        </td>
        <td>
          Неразрывные строки могут разрываться только в разрешенных точках разрыва. Значение по
          умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">anywhere</code>
        </td>
        <td>
          Чтобы избежать выхода текста за границы элемента, таких как длинных слов или URL,
          неразрывная строка символов может быть разбита в любой точке, если в строке нет других
          допустимых точек разрыва. Тире не вставляется. Возможность мягкого переноса, представленная
          разрывом слов, рассматривается, когда вычисляется минимальный контент внутренних размеров.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">break-word</code>
        </td>
        <td>
          Так же как и со значением anywhere, слова, которые обычно нельзя перенести по слогам, могут
          быть разбиты в произвольных точках, если нет других допустимых разрывов в строке, но
          возможность мягкого переноса, представленная разрывом слов не рассматривается, когда
          вычисляется минимальный контент внутренних размеров.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример использования свойства для управления переполнением</h3>
  <app-static-example [InputValue]="HTMLstaticExample5" [CSSInputValue]="CSSstaticExample5"></app-static-example>
</div>

<div data-custom="head6">
  <h2 class="head" id="head6">
    Выравнивание текста
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Блок текста представляет собой набор линейных блоков. Свойство <code class="css-prop">text-align</code>
    описывает, как линейное содержимое, наподобие текста, выравнивается в блоке его родительского элемента.
    <code class="css-prop">text-align</code> не контролирует выравнивание элементов самого блока,
    но только их линейное содержимое.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">start</code>
        </td>
        <td>
          Содержимое на уровне строки выравнивается по начальному краю линейного блока. Значение по
          умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">end</code>
        </td>
        <td>
          Содержимое на уровне строки выравнивается по конечному краю линейного блока.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">left</code>
        </td>
        <td>
          Содержимое на уровне строки выравнивается по левому краю строки линейного блока. В
          вертикальных системах письменности это будет физический верх или низ, в зависимости от
          ориентации текста.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">right</code>
        </td>
        <td>
          Содержимое на уровне строки выравнивается по правому краю строки линейного блока. В
          вертикальных системах письменности это будет физический верх или низ, в зависимости от
          ориентации текста.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">center</code>
        </td>
        <td>
          Содержимое на уровне строки центрируется внутри линейного блока.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">justify</code>
        </td>
        <td>
          Текст выравнивается по ширине линейного блока, чтобы точно заполнить поле строки, прижимаюсь
          к левому и правому краям родительского элемента. Пробелы между словами и буквами
          распределяются таким образом, чтобы длина всех строк была равна. Разные браузеры могут
          увеличить как отступы между словами, так и интервалы между буквами.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">justify-all</code>
        </td>
        <td>
          Устанавливает text-align-all и text-align-last в justify, также выравнивая последнюю строку.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">match-parent</code>
        </td>
        <td>
          Значение ведет себя так же, как <code class="css-value">inherit</code> за исключением того,
          что унаследованное значение <code class="css-value">start</code> или
          <code class="css-value">end</code> интерпретируется относительно значения direction (или исходного содержащего
          блока, если нет родителя) и приводит к вычисленному значению left или right.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример выравнивания текста</h3>
  <app-static-example [InputValue]="HTMLstaticExample6" [CSSInputValue]="CSSstaticExample6"></app-static-example>
</div>

<div data-custom="head7">
  <h2 class="head" id="head7">
    Промежутки между словами
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">word-spacing</code> определяет дополнительный интервал между словами.
    Устанавливает интервалы между словами. Можно использовать положительные и отрицательные значения.
    При отрицательном значении слова могут накладываться друг на друга.
  </p>
  <p>
    На значение <code class="css-prop">word-spacing</code> оказывает влияние значение свойства
    <code class="css-prop">text-align</code> в случае выравнивания текста по ширине.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">normal</code>
        </td>
        <td>
          Дополнительный интервал не применяется. Вычисляет в 0. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Задает дополнительный интервал в дополнение к внутреннему интервалу между словами,
          определенному шрифтом. Значения могут быть отрицательными, но могут быть ограничения,
          зависящие от реализации.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример добавление промежутка между словами</h3>
  <app-static-example [InputValue]="HTMLstaticExample7" [CSSInputValue]="CSSstaticExample7"></app-static-example>
</div>

<div data-custom="head8">
  <h2 class="head" id="head8">
    Трекинг
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">letter-spacing</code> определяет дополнительный интервал, или
    трекинг, между смежными типографскими символами. Межбуквенный интервал является дополнением к
    кернингу и <code class="css-prop">word-spacing</code>. В зависимости от действующих правил
    выравнивания пользовательские агенты могут дополнительно увеличивать или уменьшать расстояние
    между типографскими символьными единицами для выравнивания текста.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">normal</code>
        </td>
        <td>
          Дополнительный интервал не применяется. Вычисляет в 0. Значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Задает дополнительный интервал в дополнение к внутреннему интервалу между словами,
          определенному шрифтом. Значения могут быть отрицательными, но могут быть ограничения,
          зависящие от реализации.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример добавление промежутка между символами</h3>
  <app-static-example [InputValue]="HTMLstaticExample8" [CSSInputValue]="CSSstaticExample8"></app-static-example>
</div>

<div data-custom="head9">
  <h2 class="head" id="head9">
    Отступ первой строки
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Свойство <code class="css-prop">text-indent</code> задает отступ, применяемый к строкам встроенного
    содержимого в блоке. Отступ обрабатывается как поле, примененное к начальному краю линейного блока.
    Если в первой строке блочного элемента присутствует изображение, то оно сдвинется вместе с
    остальным текстом.
  </p>
  <table class="fontProp">
    <thead>
      <tr>
        <th>Значение</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code class="css-value">длина</code>
        </td>
        <td>
          Размер отступа в виде абсолютной длины. Процентное значение вычисляется от собственной
          логической ширины блока-контейнера. Значение по умолчанию 0.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">each-line</code>
        </td>
        <td>
          Отступы затрагивают первую строку каждого блока-контейнера и каждую строку после
          принудительного разрыва строки (но не строки после с мягким переносом).
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">hanging</code>
        </td>
        <td>
          Обратное преобразование. Все строки, кроме первой, будут с отступом.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">initial</code>
        </td>
        <td>
          Устанавливает значение свойства в значение по умолчанию.
        </td>
      </tr>
      <tr>
        <td>
          <code class="css-value">inherit</code>
        </td>
        <td>
          Наследует значение свойства от родительского элемента.
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Пример добавление отступа первой строки</h3>
  <app-static-example [InputValue]="HTMLstaticExample9" [CSSInputValue]="CSSstaticExample9"></app-static-example>
</div>

