
<div>
  <p>
    В этом разделе вы узнаете, как сделать веб-страницы более привлекательными, управляя их
    дизайном с помощью CSS.
  </p>
  <p>
    Каскадные таблицы стилей позволяют создавать правила, которые определяют внешний вид контента.
    Например вы можете сделать так, чтобы фон страницы стал кремового оттенка, а текст абзацев был
    отформатирован серым цветом и гарнитурой Arial, или чтобы все заголовки первого уровня отображались
    гарнитурой Times, синим цветом и курсивом.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="HTMLinteractiveExample" [CSSinputValue]="CSSinteractiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Принцип работы каскадных таблиц стилей
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <p>
    Каскадные таблицы стилей связывают правила с HTML-элементами. Эти правила определяют, как должны
    отображаться указанные элементы. Правило CSS состоит из двух частей: <code class="css-selector">селектора</code> и объявления.
  </p>
  <p>
    Объявления CSS заключаются в фигурные скобки и состоят из двух частей: <code class="css-prop">свойства</code>
    и <code class="css-value">значения</code>, разделенных двоеточием. В одном объявлении вы можете указать несколько свойств, отделив
    их друг от друга точкой с запятой.
  </p>
  <app-code-example [CSSInputValue]="CodeExample1"></app-code-example>
  <p>
    Данное правило означает, что все элементы <code class="tag">&lt;h1&gt;</code> должны быть отформатированы
    красным цветом.
  </p>
  <p>
    <code class="css-prop">Свойства</code> определяют аспекты элемента, которые вы хотите изменить.
    Например цвет, шрифт, ширину, высоту и границу.
  </p>
  <p>
    <code class="css-value">Значения</code> это параметры, которые вы хотите использовать для выбранных
    свойств. Например если вам необходимо указать свойство цвета, то значением будет цвет, которым вы
    хотите выделить текст в указанных элементах.
  </p>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Виды таблиц стилей
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Внешняя таблица стилей</h3>
  <p>
    Внешняя таблица стилей представляет собой текстовый файл с расширением <kbd>.css</kbd>, в котором 
    находится набор CSS-стилей элементов. Файл создаётся в редакторе кода, так же как и HTML-страница.
    Внутри файла могут содержатся только стили, без HTML-разметки. Внешняя таблица стилей подключается
    к веб-странице с помощью элемента <code class="tag">&lt;link&gt;</code>, расположенного внутри раздела
    <code class="tag">&lt;head&gt;</code><code class="tag">&lt;/head&gt;</code>. Такие стили работают
    для всех страниц сайта.
  </p>
  <p>
    К каждой веб-странице можно присоединить несколько таблиц стилей, добавляя последовательно несколько
    элементов <code class="tag">&lt;link&gt;</code>, указав в атрибуте <code class="attr-name">media</code>
    назначение данной таблицы стилей. <code class="attr-name">rel</code>="<code class="attr-value">stylesheet</code>"
    указывает тип ссылки (ссылка на таблицу стилей).
  </p>
  <app-code-example [InputValue]="CodeExample2"></app-code-example>
  <h3>Внутренние стили</h3>
  <p>
    Внутренние стили встраиваются в раздел <code class="tag">&lt;head&gt;</code><code class="tag">&lt;/head&gt;</code>.
    HTML-документа и определяются внутри элемента <code class="tag">&lt;style&gt;</code><code class="tag">&lt;/style&gt;</code>.
    Внутренние стили имеют приоритет над внешними, но уступают встроенным стилям (заданным через атрибут
    <code class="attr-name">style</code>).
  </p>
  <app-code-example [InputValue]="CodeExample3"></app-code-example>
  <h3>Встроенные стили</h3>
  <p>
    Внутренние стили встраиваются в раздел <code class="tag">&lt;head&gt;</code><code class="tag">&lt;/head&gt;</code>.
    HTML-документа и определяются внутри элемента <code class="tag">&lt;style&gt;</code><code class="tag">&lt;/style&gt;</code>.
    Внутренние стили имеют приоритет над внешними, но уступают встроенным стилям (заданным через атрибут
    <code class="attr-name">style</code>).
  </p>
  <p>
    Такие стили действуют только на тот элемент, для которого они заданы.
  </p>
  <app-code-example [InputValue]="CodeExample4"></app-code-example>
</div>


