
<div>
  <p>
    Маркированный список представляет собой неупорядоченный список <i>(от англ. Unordered List)</i>.
    Создаётся с помощью элемента <code class="tag">&lt;ul&gt;</code>. В качестве маркера элемента
    списка выступает метка, например, закрашенный кружок.
  </p>

  <p>
    Каждый элемент списка помещается между открывающим тегом <code class="tag">&lt;li&gt;</code> и закрывающим
    тегом <code class="tag">&lt;/li&gt;</code>. По умолчанию браузеры автоматически расставляют нужные
    отступы для элементов списков.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примечание об использовании
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <ul>
    <li>
      Элемент <code class="tag">&lt;ul&gt;</code> используется для группировки непронумерованных элементов данных,
      и их последовательность в списке не нужна. Что характерно, непорядочные списки используют маркеры,
      которые могут быть разных форм (в форме точки, круга или прямоугольной формы). Стиль задаётся
      не в HTML, а со связанным с ним CSS, используя свойство <code class="css-prop">list-style-type</code>
    </li>
    <li>
      Элементы <code class="tag">&lt;ul&gt;</code> и <code class="tag">&lt;ol&gt;</code> могут быть
      вложены на любом уровне. Более того, вложенные списки могут чередоваться между
      <code class="tag">&lt;ul&gt;</code> и <code class="tag">&lt;ol&gt;</code> без ограничений.
    </li>
    <li>
      Элементы <code class="tag">&lt;ul&gt;</code> и <code class="tag">&lt;ol&gt;</code> используются
      для списков. Различие лишь в том, что в элементе <code class="tag">&lt;ol&gt;</code> порядок
      имеет значение. Согласно эмпирической закономерности (или правилу большого пальца), чтобы
      определить, какую маркировку использовать, попробуйте поменять порядок элементов в списке.
      Если суть списка меняется, то тогда подойдёт элемент <code class="tag">&lt;ol&gt;</code>,
      в противном случае используйте <code class="tag">&lt;ul&gt;</code>.
    </li>
  </ul>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>Вложенный список</h3>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
  <h3>Упорядоченный список внутри неупорядоченного списка</h3>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
</div>

