@import "../../_variables.scss";

.code-mirror {
  background-color: $code-table-color;
  padding: 15px 10px;
  margin-bottom: 15px;
  position: relative;

  .label {
    position: absolute;
    z-index: 2;
    background-color: $light-color;
    padding: 5px 10px;
    top: 0;
    right: 0;
  }

  div {
    z-index: 1;

    .cm-editor {
      .cm-scroller {
        .cm-gutters {
          background-color: $code-table-color !important;
        }
      }
    }
  }
}

.code-result {
  background-color: $code-table-color;
  padding: 15px 10px;
  position: relative;
  color: white;

  .label {
    position: absolute;
    z-index: 2;
    background-color: $light-color;
    padding: 5px 10px;
    top: 0;
    right: 0;
    color: black;
    font-size: 1rem !important;
  }
}
