
<div>
  <p>
    Зачастую изображения сопровождаются подписями. В спецификации HTMLS появился новый элемент
    <code class="tag">&lt;figure&gt;</code>, объединяющий изображение и подпись к нему, таким образом
    текст и рисунок оказываются связанными друг с другом. В один элемент <code class="tag">&lt;figure&gt;</code>
    можно включить несколько изображений, в случае если для них используется одна подпись.
  </p>
  <p>
    Элемент <code class="tag">&lt;figcaption&gt;</code> был включен в язык HTMLS, чтобы позволить
    веб-дизайнерам добавлять подписи к публикуемым изображениям. До введения этих двух элементов
    связать изображение <code class="tag">&lt;img&gt;</code> с текстом было невозможно. Устаревшие
    версии браузеров не распознают элементы языка HTMLS и просто отображают их содержимое на странице.
  </p>
</div>

<div data-custom="head1" style="padding-top: 0;">
  <h2 class="head" id="head1">
    Интерактивный пример
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <app-interactive-example [NameComponent]="NameComponent" [HTMLinputValue]="interactiveExample"></app-interactive-example>
</div>

<div data-custom="head2">
  <h2 class="head" id="head2">
    Примечания об использовании
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <ul>
    <li>
      Обычно <code class="tag">&lt;figure&gt;</code> это рисунок, иллюстрация, диаграмма, фрагмент кода,
      и т.д., на который ссылаются в основном потоке документа, но может быть перенесён в другую часть
      документа или в приложение не нарушив основной поток.
    </li>
    <li>
      Являясь секционным корнем, структура содержимого элемента <code class="tag">&lt;figure&gt;</code>
      исключается из основной структуры документа.
    </li>
    <li>
      Подпись может быть связана с элементом <code class="tag">&lt;figure&gt;</code> с помощью вставки
      <code class="tag">&lt;figcaption&gt;</code> внутри него (как первый или последний потомок).
      Первый элемент <code class="tag">&lt;figcaption&gt;</code> в иллюстрации предоставляет её подпись (заголовок).
    </li>
  </ul>
</div>

<div data-custom="head3">
  <h2 class="head" id="head3">
    Примеры
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
      <path fill="#6c717d" d="M23.906 3.969A4.097 4.097 0 0 0 21 5.188L5.187 21l-.062.313l-1.094 5.5l-.312 1.468l1.469-.312l5.5-1.094l.312-.063L26.813 11a4.075 4.075 0 0 0 0-5.813a4.097 4.097 0 0 0-2.907-1.218zm0 1.906c.504 0 1.012.23 1.5.719c.973.972.973 2.027 0 3l-.718.687l-2.97-2.969l.688-.718c.489-.489.996-.719 1.5-.719zm-3.593 2.844l2.968 2.969L11.188 23.78a6.813 6.813 0 0 0-2.97-2.968zM6.938 22.438a4.734 4.734 0 0 1 2.625 2.625l-3.282.656z" />
    </svg>
  </h2>
  <h3>
    Иллюстрации
  </h3>
  <p>
    Есть возможность использовать элемент <code class="tag">&lt;figure&gt;</code> без
    <code class="tag">&lt;figcaption&gt;</code>. Данную особенность можно испльзовать для добавления
    подписи позднее.
  </p>
  <app-static-example [InputValue]="staticExample1"></app-static-example>
  <h3>
    Фрагменты кода
  </h3>
  <p>
    Не обязательно добавлять подпись только к изображениям. Её можно использовать для фрагмента кода.
  </p>
  <app-static-example [InputValue]="staticExample2"></app-static-example>
  <h3>
    Цитирования
  </h3>
  <p>
    Еще один пример для демонстрации ипользованния <code class="tag">&lt;figure&gt;</code>.
  </p>
  <app-static-example [InputValue]="staticExample3"></app-static-example>
</div>
