@import "../../_variables.scss";

p {
  font-size: 16px;
  color: $light-color;
}
ul{
    font-size: 16px;
    color: $light-color;
}

kbd{
    font-size: 1rem;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
  color: darken($fifth-color, 5%);
  cursor: default;
  text-decoration: underline;
  svg{
      margin-left: 10px;
      margin-bottom: 4px;
      width: 30px;
      height: 30px;
  }
}

.label-img{
    display: block;
    color: $grey-color;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img{
    margin-top: 10px;
}

table{
    color: $light-color;
    border: 3px solid $border-color;
    margin-bottom: 20px;
    tr{
        th,td{
            padding: 7px 15px;
            border: 2px solid $border-color;
        }

    }
}

.code-table {
  background-color: $code-table-color;
  padding: 0 15px;
  width: 100%;

  code {
    color: $light-color;
    font-size: 1.1rem;

    span {
      color: $light-color;
      font-size: 1.1rem;
    }

    .tag, .property {
      color: #905;
    }

    .attr-name, .selector {
      color: #690;
    }

    .attr-value, .rule {
      color: lighten(#07a, 5%);
    }

    .punctuation{
       color: $light-color;
    }

    .url {
      color: #9a6e3a;
    }
  }
}

.tag, .property {
  color: #905;
}

.attr-name, .selector {
  color: #690;
}

.attr-value, .rule {
  color: lighten(#07a, 5%);
}
