@import "../../_variables.scss";

p {
  font-size: 16px;
  color: $light-color;
  &:last-child{
    margin-bottom: 0;
  }
}
ul{
    font-size: 16px;
    color: $light-color;
    li{
        margin-bottom: 1rem;
    }
}

dl{
    font-size: 16px;
    dt{
        margin-bottom: 5px;
        font-size: 18px;
    }
    dd{
        color: $light-color;
        padding-left: 15px;
        margin-bottom: 15px;
    }
}

kbd {
  font-size: 1rem;
  background-color: $fourth-color;
  border-radius: 5px;
}

code {
  background-color: $fourth-color;
  border-radius: 5px;
  padding: .2rem .4rem;
}

.code-mirror {
  background-color: $code-table-color;
  padding: 15px 10px;
  margin-bottom: 15px;
  position: relative;

  .label {
    position: absolute;
    z-index: 2;
    background-color: $light-color;
    padding: 5px 10px;
    top: 0;
    right: 0;
  }

  div {
    z-index: 1;

    .cm-editor {
      .cm-scroller {
        .cm-gutters {
          background-color: $code-table-color !important;
        }
      }
    }
  }
}

.code-result {
  background-color: $code-table-color;
  padding: 15px 10px;
  position: relative;
  color: white;

  .label {
    position: absolute;
    z-index: 2;
    background-color: $light-color;
    padding: 5px 10px;
    top: 0;
    right: 0;
    color: black;
    font-size: 1rem !important;
  }
}


div[data-custom] {
  padding-top: 0;

  h2 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: darken($fifth-color, 5%);
    cursor: default;
    text-decoration: underline;

    svg {
      margin-left: 10px;
      margin-bottom: 4px;
      width: 30px;
      height: 30px;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 15px 0 15px;
    color: darken($fifth-color, 5%);
    cursor: default;
    text-decoration: underline;
  }
}

.label-img{
    display: block;
    color: $grey-color;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img{
    margin-top: 10px;
}

table{
    color: $light-color;
    border: 3px solid $border-color;
    margin-bottom: 20px;
    tr{
        th,td{
            padding: 7px 15px;
            border: 2px solid $border-color;
        }

    }
}

.code-table {
  background-color: $code-table-color;
  padding: 0 15px;
  width: 100%;

  code {
    color: $light-color;
    font-size: 1.1rem;

    span {
      color: $light-color;
      font-size: 1.1rem;
    }

    .tag, .property {
      color: #905;
    }

    .attr-name, .selector {
      color: #690;
    }

    .attr-value, .rule {
      color: lighten(#07a, 5%);
    }

    .punctuation{
       color: $light-color;
    }

    .url {
      color: #9a6e3a;
    }
  }
}

.tag, .property {
  color: #905;
}

.attr-name, .selector {
  color: #690;
}

.attr-value, .rule {
  color: lighten(#07a, 5%);
}

.css-prop {
  color: rgb(156, 220, 254);
}

.css-selector {
  color: rgb(215, 186, 125);
}

.css-value {
  color: #d78d7d;
}

.css-pseudoCl {
  color: rgb(215, 186, 125);
}

code {
  color: inherit;
  font-size: 1rem;
}

table{
    tbody{
        tr{
            td{
                p{
                    font-size: 14px;
                }
                &:first-child{
                    width: 25%;
                }

                &:nth-child(2){
                    width: 25%;
                }
            }
        }
    }
}

